<div class="form-group boxed_form">
<%= f.input :region, disabled: true %>    
<%= f.input :hombres %>
<%= f.input :mujeres %>
<!--<%= f.input :rangos %>-->
<%= f.input :total, disabled: true %> 
<%= link_to_remove_association "mark for remove num_afiliados", f %>
</div>