<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= f.object.region %>
    </div>
    <div class="panel-body">
      <%= f.input :hombres %>
      <%= f.input :mujeres %>
      <div class="form-group">
        <%= f.label :total %>
        <%= f.object.total %>
      </div>
      <%= link_to_remove_association f, target: '_self' do %>
        <i class="fa fa-trash"></i> Marcar para eliminar
      <% end %>
    </div>
  </div>
</div>