<div class="form-group boxed_form">
<%= f.input :fecha_datos %>
<%= f.input :region_id, as: :select, collection: Region.all.sort %>
<%= f.input :ano_nacimiento %>
<%= f.input :hombres %>
<%= f.input :mujeres %>
<%= f.input :otros %>
<%= link_to_remove_association "mark for remove num_afiliados", f %>
</div>
