<div class="col-md-4">
  <div class="panel panel-default ">
    <div class="panel-heading">
      Elección Interna: <%= f.object.cargo %>
    </div>
    <div class="panel-body">

      <% if f.object.id.nil? %>
        <%= f.association :organo_interno, as: :select, collection: OrganoInterno.where(partido_id: f.object.partido_id) %>
        <%= f.input :fecha_eleccion %>
        <%= f.input :fecha_limite_inscripcion %>
        <%= f.input :cargo %>
      <% else %>
        <ul class="list-unstyled">
          <li><i class="fa fa-sitemap"></i> <%= f.object.organo_interno %></li>
          <li><i class="fa fa-user"></i> <%= f.object.cargo %></li>
          <li><i class="fa fa-calendar"></i> <%= f.object.fecha_eleccion %></li>
          <li><i class="fa fa-clock-o"></i> <%= f.object.fecha_limite_inscripcion %></li>
        </ul>

        <%= f.input :id, as: :hidden %>
      <% end %>

      <div class="panel panel-default ">
        <div class="panel-heading">
          Procedimientos
        </div>
        <div class="panel-body">
          <%= f.fields_for :procedimientos do |procedimiento| %>
            <%= render 'procedimiento_fields', :f => procedimiento %>
          <% end %>
          <%= link_to_add_association f, :procedimientos, class: 'btn btn-default' do %>
            <i class="fa fa-plus"></i> Agregar procedimiento
          <% end %>
        </div>
      </div>

      <div class="panel panel-default ">
        <div class="panel-heading">
          Requisitos
        </div>
        <div class="panel-body">
          <%= f.fields_for :requisitos do |requisito| %>
            <%= render 'requisito_fields', :f => requisito %>
          <% end %>
          <%= link_to_add_association f, :requisitos, class: 'btn btn-default' do %>
            <i class="fa fa-plus"></i> Agregar requerimiento
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <%= link_to_remove_association f, class: 'btn btn-default' do %>
            <i class="fa fa-trash"></i> Marcar para eliminar
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>