<%= simple_form_for @partido, url: wizard_path, :remote => true, authenticity_token: true, method: :put do |f| %>
  <% if @partido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@partido.errors.count, "error") %> prohibited this partido from being saved:</h2>

      <ul>
      <% @partido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="fields">
      <%= yield f %>
  </div>
  <div class="actions">
    <%= f.button :submit %> or <%= link_to 'skip', next_wizard_path %>
  </div>
<% end %>      
