<%= simple_form_for @partido.marco_interno, url: wizard_path, remote: true, :html => { :multipart => true } do |f| %>
  <%= f.error_notification %>
  <div id="flash_message" class="hidden alert alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4">
      <div class="form-inline">
        <%= link_to_add_association f, :documentos, class: 'btn btn-success form-control', data: { 'association-insertion-method': 'append', 'association-insertion-node': '.nueva-norma-interna' } do %>
          <i class="fa fa-plus"></i> Agregar otros documentos
        <% end %>
      </div>
    </div>
  </div>

  <div class="row nueva-norma-interna"></div>

  <div class="row">
    <%= f.fields_for :documentos do |builder| %>
      <%= render 'documento_fields', :f => builder %>
      <% if  (builder.options[:child_index] + 1) % 3 ==0 %>
       </div><div class="row">
      <% end %>
    <% end %>
  </div>

  <div class="row" style="padding-top: 15px">
    <div class="col-md-12">
      <%= f.button :submit, 'Actualizar normas internas', class: 'btn-success' %>
    </div>
  </div>
<% end %>
