<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <% if f.object.id.nil? %>
        Nuevo órgano
      <% else %>
        <%= f.object.nombre %>
      <% end %>
    </div>
    <div class="panel-body">

      <% if f.object.id.nil? %>
        <%= f.input :nombre  %>
        <%= f.input :funciones  %>
      <% else %>
        <!-- <%= f.object.funciones %> -->
        <%= f.input :id, as: :hidden %>
        <%= f.input :nombre %>
        <%= f.input :funciones %>
      <% end %>
    </div>
    <div class="panel-footer org-interno">
      <%= link_to_remove_association f, class: 'btn btn-danger checkForDelete' do %>
        <i class="fa fa-trash"></i> Marcar para eliminar
      <% end %>
    </div>
  </div>
</div>