<div class="form-group boxed_form">
    <%= f.input :nombre %>
    <%= f.input :apellidos %>
    <%= f.input :cargo, as: :select, collection: Representante.cargos, input_html: { class: 'cargo' } %>
    <%= f.input :region, as: :select, collection: Region.all.sort, wrapper_html: { class: 'region escondido' } %>
    <%= f.input :comuna, as: :select, collection: Comuna.all.sort, wrapper_html: { class: 'comuna escondido' } %>
    <%= f.input :circunscripcion, as: :select, collection: Circunscripcion.all.sort, wrapper_html: { class: 'circunscripcion escondido' } %>
    <%= f.input :distrito, as: :select, collection: Distrito.all.sort, wrapper_html: { class: 'distrito escondido' } %>
    <%= f.input :fecha_desde %>
    <%= f.input :fecha_hasta %>
    <%= f.input :email %>
    <%= f.input :telefono %>
    <%= f.input :genero %>
    <%= f.input :foto %>
    <%= f.input :fecha_nacimiento %>
    <%= f.input :nivel_estudios %>
    <%= f.input :ano_inicio_militancia %>
    <%= f.input :afiliado %>
    <%= f.input :bio %>
<%= link_to_remove_association "mark for remove representante", f %>
</div>