<div class="col-md-4">
  <div class="panel panel-default ">
    <div class="panel-heading">
      <% if f.object.id.nil? %>
        Nueva sanción
      <% else %>
        Sanción: <%= f.object.descripcion %>
      <% end %>
    </div>
    <div class="panel-body">

      <% if f.object.id.nil? %>
        <%= f.input :descripcion %>
        <%= f.input :institucion %>
        <%= f.input :fecha %>
        <%= f.input :documento %>
      <% else %>
        <ul>
          <li><%= f.object.descripcion %></li>
          <li><i class="fa fa-building"></i> <%= f.object.institucion %></li>
          <li><i class="fa fa-calendar"></i> <%= f.object.fecha %></li>
        </ul>
        <%= f.input :id, as: :hidden %>
      <% end %>

      <div class="row">
        <div class="col-md-12">
          <%= link_to_remove_association f, class: 'btn btn-default' do %>
            <i class="fa fa-trash"></i> Marcar para eliminar
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>