<div class="form-group boxed_form">
    <%= f.input :id, as: :hidden %>
    <%= f.input :nombre %>
    <%= f.input :descripcion %>
    <%= f.input :documento %>
    
    <%= f.fields_for :requisitos do |requisito| %>
       <%= render 'requisito_fields', :f => requisito %>
    <% end %>
      <%= link_to_add_association 'add requirement', f, :requisitos %>
      
    <%= f.fields_for :procedimientos do |procedimiento| %>
       <%= render 'procedimiento_fields', :f => procedimiento %>
    <% end %>
      <%= link_to_add_association 'add procedure', f, :procedimientos %>
      
  </div>