<div class="container" ng-controller="cargosController">
  <h2 class="page-header">Administradores</h2>

  <div class="row">
    <% if current_admin.is_superadmin %>
      <%= simple_form_for @partido, url: wizard_path, authenticity_token: true, :multipart => true , :remote => true  do |f| %>
        <% if @partido.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@partido.errors.count, "error") %> prohibited this partido from being saved:</h2>
            <ul>
            <% @partido.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.fields_for :admin do |builder| %>
            <%= builder.input :email%>
        <% end %>
        <%= f.button :submit, "Añadir administrador del partido", class:'btn btn-success', target: '_self' %>
      <% end %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="flash_message" class="hidden alert alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-stripped">
        <thead>
          <tr>
            <th>Email</th>
            <th>Fecha Creacion</th>
            <th>Fecha Ultimo Login</th>
            <th>IP Ultimo Login</th>
          </tr>
        </thead>
        <tbody>
          <% @admins.each do |admin| %>
          <tr>
            <td> <%= admin.email %> </td>
            <td> <%= admin.created_at %> </td>
            <td> <%= admin.last_sign_in_at %> </td>
            <td> <%= admin.last_sign_in_ip %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
