<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 class="page-header">Datos Básicos</h2>
      <%= render :layout => 'form' do |f| %>
        <div class="row">
          <div class="col-md-12">
            <%= f.error_notification %>
            <%= f.input :nombre, inline_label: true, placeholder: 'Nombre del partido' %>
            <%= f.input :sigla, inline_label: true, placeholder: 'Sigla del partido' %>
            <%= f.input :lema, inline_label: true, placeholder: 'Lema del partido' %>
            <%= f.input :fecha_fundacion, as: :date, inline_label: true, html5: true, wrapper: :horizontal_form, :label => 'Fecha de fundación' %>
            <%= f.input :texto, inline_label: true  %>
            <%= f.input :logo, as: :file, inline_label: true, wrapper: :horizontal_form  %>
            <% if !@partido.logo.blank? %>
            <img src="<%= @partido.logo.url(:thumb) %>" class="img-responsive" alt="<%= @partido.nombre %> - <%= @partido.lema %>">
            <% end %>            
            <%= f.input :front_logo, as: :file, inline_label: true, wrapper: :horizontal_form  %>
            <% if !@partido.front_logo.blank? %>
            <img src="<%= @partido.front_logo.url(:thumb) %>" class="img-responsive" alt="<%= @partido.nombre %> - <%= @partido.lema %>">
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h2 class="page-header">Regiones</h2>
            <%= f.association :regions, as: :check_boxes, collection: Region.all.sort, :selected => @partido.regions, :label => "", wrapper: :horizontal_inline_li_checkboxes,item_wrapper_tag: :li  %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
