<div class="container" ng-controller="personasController">
  <div class="row">
    <div class="col-md-3" id="row">
      <%= datagrid_form_for @grid, :method => :get, :url => wizard_path %>
      <%= form_tag import_personas_personas_path,  multipart: true do %>
        <%= hidden_field_tag :partido_id, @partido.id %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import CSV" %>
      <% end %>
    </div>
    <div class="col-md-9">
      <%= paginate(@grid.assets) %>
      <%= datagrid_table @grid %>
      <div class='total'>Total: <%= @grid.assets.total_count %></div>
      <%= paginate(@grid.assets) %>
    </div>
  </div>
  <%= render 'personas/persona_modal' %>
</div>
