<ol class="breadcrumb"><li><%= @partido.nombre %></li><li>Últimas decisiones</li><li>Acuerdos órganos intermedios colegiados</li></ol>
<h3>Acuerdos órganos internos</h3>
<% if @sin_datos %>
 <%= render 'sin_datos' %>
<% else %>
  <%= form_tag partido_acuerdos_organos_path, :method =>  :get, class: 'form-inline' do |f| %>
    <%= select_tag :trimestre_informado_id, options_from_collection_for_select(@trimestres_informados, "id", "to_s", params[:trimestre_informado_id]), include_blank: false, class: "form-control" %>
    <%= submit_tag 'Filtrar' %>
    <%= hidden_field_tag 'menu', params[:menu] %>
  <% end %>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% if @acuerdos.count > 0 %>
      <span class="sr-only"><p>Se han encontrado <%= @acuerdos.count %> acuerdos.</p></span>
      <!-- <div class="panel panel-default">
        <div class="panel-heading intern" role="tab" id="heading-<%= 0 %>">
          <h4 class="panel-title intern">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= 0 %>" aria-expanded="true" aria-controls="collapse-<%= 0 %>">
              <%= @trimestre_informado %>
            </a>
          </h4>
        </div> -->
        <div id="collapse-<%= 0 %>" class="panel-collapse collapse <%= 0 == 0 ? 'in' : '' %>" role="tabpanel" aria-labelledby="heading-<%= 0 %>">
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table rtable rtable--flip">
                <thead class="rtable-head">
                  <tr>
                    <th>Materia</th>
                    <th>Órgano</th>
                    <th>Tipo</th>
                    <th>Denominación</th>
                    <th>Número</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Link</th>
                  </tr>
                </thead>
                <tbody>
                  <% @acuerdos.each_with_index do |a, index| %>
                  <tr>
                    <td><%= a.materia %></td>
                    <td><%= a.nombre_organo %></td>
                    <td><%= a.tipo %></td>
                    <td><%= a.denominacion %></td>
                    <td><%= a.numero %></td>
                    <td><%= a.fecha %></td>
                    <td><%= a.descripcion %></td>
                    <td class="text-center"><%= !a.link.blank? ? link_to(a.link, target:"_blank") do "<span class='btn-view-detail btn btn-default btn-xs'>Ver Documento</span>".html_safe end : 'Sin Información' %></td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <p class="mark-date"> Estos datos corresponden a lo publicado por este
      Partido Político en el Portal de Transparencia del Estado al día <%= @fecha_datos %> </p>
      <% end %>
  </div>
