<h7>Nombre del partido > Transparencia > Cómo participar</h7>
<h3>Afiliación y Desafiliación</h3>
<h4>Número de afiliados: <%= @partido.afiliacions.count %></h4>

<% @tramites.each do |t| %>
  <h4><%= t.nombre %></h4>
  <p><%= t.descripcion %></p>
  <% if t.documento_file_name %>
    <%= link_to t.documento.url, class: "btn btn-default" do %>
      <i class="fa fa-download"></i> <%= t.documento_file_name %>
    <% end %>
  <% end %>
  <table class="table">
    <thead>
      <tr>
        <th>Procedimientos</th>
        <th>Requisitos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
          <% t.procedimientos.each do |p| %>
            <li><%= p.descripcion %></li>
          <% end %>
          </ul>
        </td>
        <td>
          <ul>
          <% t.requisitos.each do |r| %>
            <li><%= r.descripcion %></li>
          <% end %>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
