<ol class="breadcrumb"><li><%= @partido.nombre %></li><li>Cómo participar</li><li>Afiliación y desafiliación</li></ol>
<h3>Afiliación y desafiliación</h3>
<p>En esta sección se informan los requisitos y procedimientos para  incorporarse o salir del partido, según lo informado por el partido cada trimestre.
</p>
<hr>
<% if @sin_datos %>
 <%= render 'sin_datos' %>
<% else %>
<%= form_tag partido_afiliacion_desafiliacion_path, :method =>  :get, class: 'form-inline' do |f| %>
  <%= select_tag :trimestre_informado_id, options_from_collection_for_select(@trimestres_informados, "id", "to_s", params[:trimestre_informado_id]), include_blank: false, class: "form-control" %>
  <%= submit_tag 'Filtrar', class: "btn" %>
  <%= hidden_field_tag 'menu', params[:menu] %>

<% end %>
<% @datos_tramites_afiliacion.each do |ta| %>
<h4>Procedimientos</h4>
  <div class="row">
    <div class="col-md-10">
      <p><%= simple_format(ta.procedimiento) %></p>
    </div>
    <div class="col-md-2">
      <span><%= !ta.link_informacion.blank? ? link_to(ta.link_informacion, target:"_blank") do "<span class='btn-view-detail-lg btn btn-default btn-lg text-left'>Ir al sitio</span>".html_safe end : 'Sin Información' %></span>
    </div>
  </div>

<h4>Requisitos</h4>
<p><%= simple_format(ta.requisito) %></p>
<% end %>
<%= render 'mark_date' %>
<% end %>
