<h7>Nombre del partido > Transparencia > Presencia nacional</h7>
<h3>Autoridades designadas</h3>

<%= form_tag partido_autoridades_path, :method =>  :get do |f| %>
  <%= text_field_tag :nombre %>
  <%= submit_tag 'Buscar' %>
<% end %>

<% if @autoridades.any? %>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Título</th>
          <th>Nombre</th>
          <th>link</th>
        </tr>
      </thead>
      <tbody>
        <% @autoridades.each do |c| %>
        <tr>
          <td><%= c.tipo_cargo.titulo %></td>
          <td><%= c.persona.nombre + " " + c.persona.apellidos %></td>
          <td><%= c.persona.intereses %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
