<h6><%= @partido.nombre %> > Transparencia > Cómo participar</h6>
<h3>Postular a cargos de elección popular</h3>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% @e_popular.each_with_index do |e, index| %>
    <% if e['dates'].count > 0 %>
  <div class="panel panel-default">
    <div class="panel-heading intern" role="tab" id="heading-<%= index %>">
      <h4 class="panel-title intern">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= index %>" aria-expanded="true" aria-controls="collapse-<%= index %>">
          <%= e['type'] %>
        </a>
        <span class="badge"><%= e['dates'].count %></span>
      </h4>
    </div>
    <div id="collapse-<%= index %>" class="panel-collapse collapse <%= index == 0 ? 'in' : '' %>" role="tabpanel" aria-labelledby="heading-<%= index %>">
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Procedimientos</th>
              <th>Requisitos</th>
              <th>Fecha</th>
              <th>Días</th>
            </tr>
          </thead>
          <tbody>
            <% e['dates'].each do |d| %>
            <tr>
              <td>
                <% d['procedimientos'].each do |p| %>
                  <li><%= p["descripcion"] %></li>
                <% end %>
              </td>
              <td>
                <% d['requisitos'].each do |r| %>
                  <li><%= r["descripcion"] %></li>
                <% end %>
              </td>
              <td>
                <%= d["fecha_eleccion"] %>
              </td>
              <td><%= d["dias"] %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <% end %>
  <% end %>
</div>
