<%= form_tag partido_finanzas_5_path, :method =>  :get do |f| %>
  <%= select_tag :fecha_datos, options_for_select(@fechas_datos), prompt: "Seleccionar Fecha", onchange: "this.form.submit();"  %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h4>Datos correspondientes al <%=  @fecha %></h4>
    <div id="header"></div>
    <%=  @fecha %>
    <table class="table">
      <thead>
        <tr>
          <th>
            Concepto
          </th>
          <th>
            Monto Total
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @datos_transferencias.each_with_index do |linea, i| %>

        <tr>
          <td>
            <%= linea['text'] %>
          </td>
          <td>
            <div id="barras_<%= i.to_s %>"></div>
          </td>
          <td class="monto">
            <%= linea['value'] %>
          </td>
        </tr>
        <% end %>
        <tr>
          <td class="total"> Total </td>
          <td>  </td>
          <td class="total monto"> <%=  @datos_transferencias_totals[:total] %> </td>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="barras"></div>

<script>
$(document).ready(function(){
  var data = <%=  @datos_transferencias.to_json.html_safe %>;
  var data_totals = <%=  @datos_transferencias_totals.to_json.html_safe %>;
  var fechas = <%=  @fechas_datos.to_json.html_safe %>;
  var fecha_seleccionada =  <%=  @fecha.to_json.html_safe %>;
  // if (fechas.length > 0){
  //   Raphael("barras",700, 1000 ).transferencias_chart(data, data_totals,fecha_seleccionada);
  // } else {
  //   Raphael("barras",700, 200 ).no_data_chart()
  // }

  //Raphael("header",500, 40 ).egreso_ord_front_header();

  for(var i=0; i < data.length; i++){
    Raphael("barras_" + i,300, 30 ).transferencia_front_bar(data[i]);
  }

  //Raphael("footer",500, 40 ).egreso_ord_front_footer(data_totals);
});
</script>
