<ol class="breadcrumb"><li><%= @partido.nombre %></li><li>Finanzas</li><li>Egresos ordinarios</li></ol>
<h3>Egresos ordinarios</h3>
<% if @sin_datos %>
  <%= render 'sin_datos' %>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <%= form_tag partido_finanzas_2_path, :method =>  :get, class: 'form-inline' do |f| %>
      <%= select_tag :trimestre_informado_id, options_from_collection_for_select(@trimestres_informados, "id", "to_s", params[:trimestre_informado_id]), include_blank: false, class: "form-control" %>
      <%= submit_tag 'Filtrar', class: "btn" %>
      <% end %>
    </div>
  </div>
  <div>

    <span id="header"></span>
    <div class="row">
      <div class="col-md-12">
        <span class="leyenda-finanzas"><img/ class="circle-sky_light"> Gastos Administrativos</span>
        <span class="leyenda-finanzas"><img/ class="circle-sky_medium"> Préstamos, Créditos o Inversiones</span>
        <span class="leyenda-finanzas"><img/ class="circle-sky_dark"> Gastos de Participación y Formación</span>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="concepto-th">Concepto</th>
            <th>&nbsp;<div class="visible-xs">Porcentaje</div></th>
            <th class="monto-th">Monto Total</th>
          </tr>
        </thead>
        <tbody>
          <% @datos_egresos_ordinarios.each_with_index do |linea, i| %>
          <tr>
            <td class="concepto">
              <%= linea['text'] %>
            </td>
            <td>
              <div class="porcentaje-movil"> <%=
                (linea['percentage'].to_f*100).round(2).to_s + '%'
              %></div>
              <div id="barras_<%= i.to_s %>"></div>
            </td>
            <td class="monto">
              <%= number_to_currency(linea['value'], delimiter: ".", separator: ',', precision: 0, unit: "$", format: "%u%n") %>
            </td>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th class="total">Total</th>
            <th><span id='footer'></span></th>
            <th class="total monto"><%= number_to_currency(@datos_egresos_ordinarios_totals['gastos_administracion'] + @datos_egresos_ordinarios_totals['gastos_creditos_inversiones'] + @datos_egresos_ordinarios_totals['gastos_formacion'], delimiter: ".", separator: ',', precision: 0, unit: "$", format: "%u%n") %></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
<% end %>
  <p class="mark-date"> Estos datos corresponden a lo publicado por este
      Partido Político en el Portal de Transparencia del Estado al día <%= @fecha_datos %> </p>
<script>
$(document).ready(function(){
  var data = <%=  @datos_egresos_ordinarios.to_json.html_safe %>;
  var data_totals = <%=  @datos_egresos_ordinarios_totals.to_json.html_safe %>;
  var fechas = <%=  @fechas_datos.to_json.html_safe %>;
  var fecha_seleccionada =  <%=  @fecha.to_json.html_safe %>;
  for(var i=0; i < data.length; i++){
    console.log(data[i]);
    if(screen.width > 767) {
      Raphael("barras_" + i,300, 30 ).egreso_ord_front_bar(data[i]);
    } else {
      Raphael("barras_" + i,80, 40 ).egreso_ord_front_bar(data[i]);
    }
  }
  if(screen.width > 767)
    Raphael("footer",500, 40 ).egreso_ord_front_footer(data_totals);
  else {
    Raphael("footer",80, 40 ).egreso_ord_front_footer(data_totals);
    }
});
</script>
