<ol class="breadcrumb"><li><%= @partido.nombre %></li><li>Finanzas</li><li>Transferencias de fondos públicos</li></ol>
<h3>Transferencias de fondos públicos</h3>
<% if @sin_datos %>
  <%= render 'sin_datos' %>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <%= form_tag partido_finanzas_5_path, :method => :get, class: 'form-inline' do |f| %>
      <%= select_tag :trimestre_informado_id, options_from_collection_for_select(@trimestres_informados, "id", "to_s", params[:trimestre_informado_id]), include_blank: false, class: "form-control" %>
      <%= submit_tag 'Filtrar', class: "btn" %>
      <% end %>
    </div>
  </div>

  <div>
    <span id="header"></span>
    <div class="row">
      <div class="col-md-12">
        <span class="leyenda-finanzas"><img/ class="circle-sky_light"> Primer</span>
        <span class="leyenda-finanzas"><img/ class="circle-sky_medium"> Segundo</span>
        <span class="leyenda-finanzas"><img/ class="circle-sky_dark"> Tercer mes</span>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="concepto-th">Concepto</th>
            <th>&nbsp;<div class="visible-xs">Porcentaje</div></th>
            <th class="monto-th">Monto Total</th>
          </tr>
        </thead>
        <tbody>
          <% @datos_temp_transferencias.each_with_index do |linea, i| %>
          <tr>
            <td class="concepto"><%= linea['text'] unless linea.nil? %></td>
            <td>
              <div class="porcentaje-movil"> <%=
                (linea['percentage'].to_f*100).round(2).to_s + '%'
              %></div>
              <div id="barras_<%= i.to_s %>"></div>
            </td>
            <td class="monto">
              <%= number_to_currency(linea['value'], delimiter: ".", separator: ',', precision: 0, unit: "$", format: "%u%n") unless linea.nil? %>
            </td>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th class="total">Total</th>
            <th>&nbsp;</th>
            <th class="total monto"> <%=  number_to_currency(@datos_transferencias_totals[:total], delimiter: ".", separator: ',', precision: 0, unit: "$", format: "%u%n") %> </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

  <div id="barras"></div>
<% end %>
<p class="mark-date"> Estos datos corresponden a lo publicado por este
    Partido Político en el Portal de Transparencia del Estado al día <%= @fecha_datos %> </p>
<script>
$(document).ready(function(){
  var data = <%=  @datos_transferencias.to_json.html_safe %>;
  var data_totals = <%=  @datos_transferencias_totals.to_json.html_safe %>;
  var fechas = <%=  @fechas_datos.to_json.html_safe %>;
  var fecha_seleccionada =  <%=  @fecha.to_json.html_safe %>;
  if (fechas.length > 0){
    Raphael("barras",700, 1000 ).transferencias_chart(data, data_totals,fecha_seleccionada);
  } else {
    Raphael("barras",700, 200 ).no_data_chart()
  }

  //Raphael("header",500, 40 ).egreso_ord_front_header();

  for(var i=0; i < data.length; i++){
    Raphael("barras_" + i,300, 30 ).transferencia_front_bar(data[i]);
  }

  Raphael("footer",500, 40 ).egreso_ord_front_footer(data_totals);
});
</script>
