<ol class="breadcrumb"><li><%= @partido.nombre %></li><li>Finanzas</li><li>Aportes a Campañas</li></ol>
<h3>Aportes a Campañas</h3>
<p>
En esta sección el partido informa el total de los aportes a campañas recibidos durante el trimestre informado. Los aportes a campañas pueden ser aportes en dinero o de otro tipo (especies, recintos, traslados y otros). Para conocer el detalle de cada aporte, descarga la planilla fuente.
</p>
<hr>
<% if @sin_datos %>
  <%= render 'sin_datos' %>
<% else %>
  <div class="row">
    <div class="col-md-12">
    <%= form_tag partido_ingresos_campana_path, :method =>  :get, class: 'form-inline' do |f| %>
    <%= select_tag :trimestre_informado_id, options_from_collection_for_select(@trimestres_informados, "id", "to_s", params[:trimestre_informado_id] || ''), include_blank: false, class: "form-control" %>
    <%= submit_tag 'Filtrar', class: "btn" %>
    <%= hidden_field_tag 'menu', params[:menu] %>
    <% end %>
    </div>
  </div>

  <div>
    <span id="header"></span>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="concepto-th">Concepto</th>
            <th>&nbsp;<div class="visible-xs">Porcentaje</div></th>
            <th class="monto-th">Monto Total</th>
          </tr>
        </thead>
        <tbody>
          <% @datos_ingresos_campanas.each_with_index do |linea, i| %>
          <tr>
            <td class="concepto">
              <%= linea['text'] %>
            </td>
            <td>
              <div class="porcentaje-movil"> <%=
                (linea['percentage'].to_f*100).round(2).to_s + '%'
              %></div>
              <div id="barras_<%= i.to_s %>"></div>
            </td>
            <td class="monto">
              <%= number_to_currency(linea['value'], delimiter: ".", separator: ',', precision: 0, unit: "$", format: "%u%n") %>
            </td>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th class="total">Total</th>
            <th><span id='footer'></span></th>
            <th class="total monto"><%= number_to_currency(@datos_ingresos_campanas_totals['aportes_en_dinero'] + @datos_ingresos_campanas_totals['otros_aportes'], delimiter: ".", separator: ',', precision: 0, unit: "$", format: "%u%n") %></th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <% end %>
  <%= render 'mark_date' %>
<script>
$(document).ready(function(){
  var data = <%=  @datos_ingresos_campanas.to_json.html_safe %>;
  var data_totals = <%=  @datos_ingresos_campanas_totals.to_json.html_safe %>;
  var fechas = <%=  @fechas_datos.to_json.html_safe %>;
  var fecha_seleccionada =  <%=  @fecha.to_json.html_safe %>;
  for(var i=0; i < data.length; i++){
    console.log(data[i]);
    if(screen.width > 767) {
      Raphael("barras_" + i,300, 30 ).ingreso_ord_front_bar(data[i]);
    } else {
      Raphael("barras_" + i,80, 40 ).ingreso_ord_front_bar(data[i]);
    }
  }
  if(screen.width > 767)
    Raphael("footer",500, 40 ).ingreso_camp_front_footer(data_totals);
  else {
    Raphael("footer",80, 40 ).ingreso_camp_front_footer(data_totals);
    }
});
</script>
