<ol class="breadcrumb"><li><%= @partido.nombre %></li><li>Vínculos e intereses</li><li>Declaraciones de intereses y patrimonio</li></ol>
<h3>Declaraciones de intereses y patrimonio</h3>

<%= form_tag partido_intereses_patrimonios_path, :method =>  :get, class: 'form-inline' do |f| %>
  <%= text_field_tag :q, params[:q] || "", class: "form-control", placeholder: "Ingresar nombre o apellido" %>
  <%= select_tag "region", options_from_collection_for_select(@partido.regions, "id", "nombre", params[:region] || ""), include_blank: "Seleccionar región", class: "form-control" %>
  <!-- <%= select_tag "genero", options_for_select(["Masculino", "Femenino"], params[:genero] || ""), include_blank: "Seleccionar género", class: "form-control" %> -->
  <%= submit_tag 'Filtrar', class: "btn" %>
  <%= hidden_field_tag 'menu', params[:menu] %>
<% end %>

<% cnt = 0 %>
<% @intereses_patrimonios.each_with_index do |ip, index| %>
  <% if ip["cargos"].any? %>
  <% cnt = cnt + 1 %>
  <div class="panel panel-default">
    <div class="panel-heading intern" role="tab" id="heading-<%= index %>">
      <h4 class="panel-title intern">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= index %>" aria-expanded="true" aria-controls="collapse-<%= index %>">
          <%= ip["type"] %>
        </a>
        <span class="badge"><%= ip["cargos"].count %></span>
      </h4>
      <span class="sr-only"><p>Se han encontrado <%= ip["cargos"].count %> declaraciones de intereses y patrimonios para <%= ip["type"] %>.</p></span>
    </div>
    <div id="collapse-<%= index %>" class="panel-collapse collapse <%= index == 0 ? 'in' : '' %>" role="tabpanel" aria-labelledby="heading-<%= index %>">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Región</th>
                <th>Comuna</th>
                <th>Circunscripción</th>
                <th>URL Intereses</th>
                <th>URL Patrimonios</th>
              </tr>
            </thead>
            <tbody>
              <% ip["cargos"].each do |c|%>
              <tr>
                <td><%= c.persona.nombre + " " +c.persona.apellidos %></td>
                <td><%= c.region.nombre %></td>
                <td><%= c.comuna.nombre %></td>
                <td><%= c.circunscripcion_id %></td>
                <td><%= c.persona.intereses ? link_to(c.persona.intereses, target:"_blank") do "<i class='fa fa-external-link'></i>".html_safe end : 'Sin Información' %></td>
                <td><%= c.persona.patrimonio ? link_to(c.persona.patrimonio, target:"_blank") do "<i class='fa fa-external-link'></i>".html_safe end : 'Sin Información' %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <% end %>
<% end %>

<% if cnt == 0 %>
<p class="text-info"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> No se encontraron registros</p>
<% end %>
