<h3>El Partido</h3>

<div class="row">
  <div class="col-md-2">
    <%= image_tag @partido.logo.url(:thumb), class: "img-responsive", alt: @partido.sigla %>
  </div>
  <div class="col-md-10">
    <table>
      <tbody>
        <% if !@partido.sigla.blank? %>
        <tr>
          <td>Sigla</td>
          <td><%= @partido.sigla %></td>
        </tr>
        <% end %>
        <% if !@partido.lema.blank? %>
        <tr>
          <td>Lema</td>
          <td><%= @partido.lema %></td>
        </tr>
        <% end %>
        <% if !@partido.fecha_fundacion.blank? %>
        <tr>
          <td>Fecha Fundación</td>
          <td><%= @partido.fecha_fundacion.to_formatted_s(:long) %></td>
        </tr>
        <% end %>
        <% if !@partido.texto.blank? %>
        <tr>
          <td>Bio</td>
          <td><%= @partido.texto %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<ul class="list-inline list-unstyled">
  <% @normas_internas.each do |n| %>
    <li class="col-md-4 documents">
      <i class="fa fa-file-o fa-3x" style="color: #F28269"></i>
      <h4>
        <%= link_to n.archivo.url, target: "_blank", onclick: "ga('send','event','click','"+n.archivo_file_name+"')" do %>
        <%= n.descripcion %>
        <% end %>
      </h4>
    </li>
  <% end %>
</ul>
