<ol class="breadcrumb"><li><%= @partido.nombre %></li><li>Vínculos e intereses</li><li>Pactos electorales que integra</li></ol>
<h3>Pactos electorales que integra</h3>

 <% if @sin_datos %>
   <%= render 'sin_datos' %>
 <% else %>
 <div class="row">
   <div class="col-md-12">
   <%= form_tag partido_pactos_path, :method =>  :get, class: 'form-inline' do |f| %>
   <%= select_tag :trimestre_informado_id, options_from_collection_for_select(@trimestres_informados, "id", "to_s", params[:trimestre_informado_id] || ''), include_blank: false, class: "form-control" %>
   <%= submit_tag 'Filtrar', class: "btn" %>
   <%= hidden_field_tag 'menu', params[:menu] %>
   <% end %>
   </div>
 </div>
  <div class="table-responsive">
    <table class="table rtable rtable--flip">
      <thead class="rtable-head">
        <tr>
          <th>Nombre del pacto</th>
          <th>Partidos que lo integran</th>
          <th>Descripción</th>
          <th>Elección</th>
        </tr>
      </thead>
      <tbody>
        <% @pactos.each do |p| %>
        <tr>
          <td><%= p.nombre_pacto %></td>
          <td>
            <ul>
            <% p.descripcion.split(',').each do |papac| %>
              <li> <%= papac %> </li>
            <% end %>
            </ul>
          </td>
          <td><%= p.tipo %></td>
          <td>
            <%= p.ano_eleccion %>
          </td>
        </tr>
        <% end %>
        <% if !@pactos.any? %>
        <tr>
          <td colspan="4">
            <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> No se han encontrado registros</p>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <p class="mark-date"> Estos datos corresponden a lo publicado por este
      Partido Político en el Portal de Transparencia del Estado al día <%= @fecha_datos %> </p>
 <% end %>
