<ol class="breadcrumb"><li><%= @partido.nombre %></li><li>Vínculos e intereses</li><li>Pactos electorales que integra</li></ol>
<h3>Pactos electorales que integra</h3>
<p class="no_data_big_message"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  ¡Sección en Desarrollo!</p>
  <p class="no_data_small_message">¡Disculpe las molestias!
    Esta sección de Partidos Públicos aún no se encuentra activa. Estamos trabajando para su próxima publicación.</p>
<!-- # <% if @sin_datos %>
#   <%= render 'sin_datos' %>
# <% else %> -->
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre del pacto</th>
          <th>Descripción</th>
          <th>Elección</th>
          <th>Partidos que lo integran</th>
        </tr>
      </thead>
      <tbody>
        <% @pactos.each do |p| %>
        <tr>
          <td><%= p.nombre_pacto %></td>
          <td><%= p.descripcion %></td>
          <td><%= p.ano_eleccion %></td>
          <td>
            <ul>
              <% p.partidos.each do |partido| %>
              <li><%= partido.nombre %></li>
              <% end %>
            </ul>
          </td>
        </tr>
        <% end %>
        <% if !@pactos.any? %>
        <tr>
          <td colspan="4">
            <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> No se han encontrado registros</p>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<!-- # <% end %> -->
