<ol class="breadcrumb"><li><%= @partido.nombre %></li><li>Últimas decisiones</li><li>Publicación de los candidatos</li></ol>
<h3>Publicación de los candidatos</h3>
<p>
En esta sección el partido informa el listado completo de candidatos -con nombre, región y comuna- inscritos durante el trimestre informado, agrupados por tipo de elección.
</p>
<hr>
<% if @sin_datos %>
  <%= render 'sin_datos' %>
<% else %>
  <%= form_tag partido_publicacion_candidatos_path, :method =>  :get, class: 'form-inline' do |f| %>
    <!-- <%= text_field_tag :q, params[:q] || "", class: "form-control", placeholder: "Ingresar nombre o apellido" %> -->
    <!-- <%= select_tag "region", options_from_collection_for_select(@partido.regions, "id", "nombre", params[:region] || ""), include_blank: "Seleccionar región", class: "form-control" %> -->
    <%= select_tag :trimestre_informado_id, options_from_collection_for_select(@trimestres_informados, "id", "to_s", params[:trimestre_informado_id]), include_blank: false, class: "form-control" %>
    <!-- <%= select_tag "genero", options_for_select(["Masculino", "Femenino"], params[:genero] || ""), include_blank: "Seleccionar género", class: "form-control" %> -->
    <%= submit_tag 'Filtrar', class: "btn" %>
    <%= hidden_field_tag 'menu', params[:menu] %>
  <% end %>

  <% cnt = 0 %>
  <% @tipos_cargo.each_with_index do |ip, index| %>
    <% cnt = cnt + 1 %>
    <div class="panel panel-default">
      <div class="panel-heading intern" role="tab" id="heading-<%= index %>">
        <h4 class="panel-title intern">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= index %>" aria-expanded="true" aria-controls="collapse-<%= index %>">
            <%= link_to ip.titulo, partido_detalles_candidatos_path(tipo_cargo_id: ip.id, trimestre_informado_id: @trimestre_informado.id)%>
          </a>
          <span class="badge"><%= @trimestre_informado.cargos.where(tipo_cargo_id: ip).count %></span>
        </h4>
        <span class="sr-only"><p>Se han encontrado candidatos</p></span>
      </div>
    </div>
  <% end %>
<% end %>
<%= render 'mark_date' %>

<% if cnt == 0 %>
<p class="text-info"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> No se encontraron registros</p>
<% end %>
