<ol class="breadcrumb"><li><%= @partido.nombre %></li><li>Presencia nacional</li><li>Regiones constituido y número de afiliados</li></ol>
<h3>Regiones constituido y número de afiliados</h3>
<% if @sin_datos %>
  <%= render 'sin_datos' %>
<% else %>
  <div class="row">
    <div class="col-md-12">
    <%= form_tag partido_regiones_all_path, :method =>  :get, class: 'form-inline' do |f| %>
    <%= select_tag :trimestre_informado_id, options_from_collection_for_select(@trimestres_informados, "id", "to_s", params[:trimestre_informado_id] || ''), include_blank: false, class: "form-control" %>
    <%= submit_tag 'Filtrar', class: "btn" %>
    <% end %>
    </div>
  </div>

  <div class="col-md-12 text-center">
  <style>
  .showData { display: '' }
  .hideData { display: none }
  </style>

  <div id="region-nacional" class="showData">
      <img/ class="circle-or">
      <p class="leyenda-colores-mapa">
        Región en la cual se encuentra constituido
      </p>
        <img/ class="circle-gr">
        <p class="leyenda-colores-mapa">
          Región en la cual no se encuentra constituido
        </p>
    <div class="col-md-4 col-md-offset-6">
      <h4>Cantidad afiliados:  </h4>
      <% if @sin_info_afiliados %>
      <span><%= @cantidad_afiliados%></span>
      <% else %>
      <span class="total-max"><%= @cantidad_afiliados%></span>
      <% end %>
    </div>
    <div class="col-md-6 text-center">
          <%= render 'svg_map_all' %>
    </div>
    <% unless @sin_info_afiliados %>
      <div id="charts" class="col-md-6">
        <div>
          <h4></h4>
          <span class="total-max"></span>
        </div>
        <div class="row hideData">
          <h4 class="col-md-5">Cargos</h4>
          <div class="col-sm-7">
            <div id="cargos"></div>
          </div>
          <div class="col-sm-6">
            <ul class="list-unstyled leyenda-cargos"></ul>
          </div>
        </div>
        <div class="row">
          <h4>Género</h4>
          <div class="col-sm-6">
            <div id="circulo"></div>
          </div>
          <div class="col-sm-6">
            <ul class="list-unstyled leyenda"></ul>
          </div>
        </div>
        <div class="row">
          <h4>Rango etario</h4>
          <div class="col-sm-6">
            <div id="desgloce"></div>
          </div>
          <div class="col-sm-6">
            <ul class="list-unstyled leyenda-desgloce"></ul>
          </div>
        </div>
      </div>
    <% end %>
    <br>
  </div>
</div>
<div class="col-xs-12">
  <p class="mark-date"> Estos datos corresponden a lo publicado por este
    Partido Político en el Portal de Transparencia del Estado al día <%= @fecha_datos %> </p>
  </div>
</div>
<% end %>
