<h3>Representantes Electos</h3>

<%= form_tag partido_representantes_path, :method =>  :get, class: 'form-inline' do |f| %>
  <%= text_field_tag :q, params[:q] || "", class: "form-control" %>
  <%= select_tag "region", options_from_collection_for_select(@partido.regions, "id", "nombre", params[:region] || ""), include_blank: "Nacional", class: "form-control" %>
  <%= select_tag "genero", options_for_select(["Masculino", "Femenino"], params[:genero] || ""), include_blank: "Genero", class: "form-control" %>
  <%= submit_tag 'Buscar', class: "btn" %>
  <%= hidden_field_tag 'menu', params[:menu] %>
<% end %>

<% @representantes.each do |all_representatives| %>
  <% if all_representatives["representatives"].any? %>
  <h4><%= all_representatives["type"] %></h4>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Region</th>
          <th>Comuna</th>
        </tr>
      </thead>
      <tbody>
        <% all_representatives["representatives"].each do |r| %>
        <tr>
          <td><%= r.persona.nombre %> <%= r.persona.apellidos %></td>
          <td><%= r.region.nombre %></td>
          <td><%= r.comuna.nombre %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
<% end %>
