<h3>Sanciones aplicadas al partido</h3>

<table class="table">
  <thead>
    <tr>
      <th>Descripci贸n</th>
      <th>Instituci贸n</th>
      <th>Tipo de sanci贸n</th>
      <th>Tipo de infracci贸n</th>
      <th>Documento</th>
    </tr>
  </thead>
  <tbody>
    <% @sanciones.each do |s| %>
    <tr>
      <td><%= s.descripcion %></td>
      <td><%= s.institucion %></td>
      <td><%= s.tipo_sancion %></td>
      <td><%= s.tipo_infraccion %></td>
      <td>
        <% if !s.documento_file_name.nil? %>
          <li><%= link_to s.documento_file_name, s.documento.url %></li>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
