<ol class="breadcrumb"><li><%= @partido.nombre %></li><li>Transparencia</li><li>Sanciones</li></ol>
<h3>Sanciones aplicadas al partido</h3>

<span class="sr-only"><p>Se han encontrado <%=@sanciones.count %> sanciones al partido. A continuación se detallan</p></span>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Descripción</th>
        <th>Institución</th>
        <th>Tipo de sanción</th>
        <th>Tipo de infracción</th>
        <th>Documento</th>
      </tr>
    </thead>
    <tbody>
      <% @sanciones.each do |s| %>
      <tr>
        <td></td>
        <td><%= s.descripcion %></td>
        <td><%= s.institucion %></td>
        <td><%= s.tipo_sancion %></td>
        <td><%= s.tipo_infraccion %></td>
        <td>
          <% if !s.documento_file_name.nil? %>
            <li><%= link_to s.documento_file_name, s.documento.url %></li>
          <% end %>
        </td>
      </tr>
      <% end %>
      <% if !@sanciones.any? %>
      <tr>
        <td colspan="5">
          <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> No se han encontrado registros</p>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
