<ol class="breadcrumb"><li><%= @partido.nombre %></li><li>Transparencia</li><li>Sanciones</li></ol>
<h3>Sanciones aplicadas al partido</h3>
<% if @sin_datos %>
  <%= render 'sin_datos' %>
<% else %>
  <div class="row">
    <div class="col-md-12">
      <%= form_tag partido_sanciones_path, :method =>  :get, class: 'form-inline' do |f| %>
      <%= select_tag :trimestre_informado_id, options_from_collection_for_select(@trimestres_informados, "id", "to_s", params[:trimestre_informado_id]), include_blank: false, class: "form-control" %>
      <%= submit_tag 'Filtrar', class: "btn" %>
      <% end %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table rtable rtable--flip">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Descripción</th>
          <th>Tipo de sanción</th>
          <th>Documento</th>
        </tr>
      </thead>
      <tbody>
        <% @sanciones.each do |s| %>
        <tr>
          <!-- <td><%= s.fecha %></td> -->
          <td><%= l(s.fecha, format: '%d ' + 'de ') + l(s.fecha, format: '%B ').titleize +  l(s.fecha, format: 'del %Y') unless s.fecha.nil? %></td>
          <td><%= s.descripcion %></td>
          <td><%= s.tipo_sancion %></td>
          <td class="link-intereses-patrimonio"><%= !s.link_resolucion.nil? ? link_to(s.link_resolucion, target:"_blank") do "<i class='fa fa-external-link'></i>".html_safe end : 'Sin Información' %></td>
          <!-- <td>
            <% if !s.documento_file_name.nil? %>
              <li><%= link_to s.documento_file_name, s.documento.url %></li>
            <% end %>
          </td> -->
        </tr>
        <% end %>
      </tbody>
    </table>
  </div><p class="mark-date"> Estos datos corresponden a lo publicado por este
      Partido Político en el Portal de Transparencia del Estado al día <%= @fecha_datos %> </p>
<% end %>
