<h7><%= @partido.nombre %> > Transparencia > Presencia nacional</h7>
<h3>Domicilio y sedes de contacto</h3>
<table class="table">
  <thead>
    <tr>
      <th>Región</th>
      <th>Comuna</th>
      <th>Dirección</th>
      <th>Contacto</th>
    </tr>
  </thead>
  <tbody>
    <% @datos_sedes.each do |r| %>
      <% if r['sedes'].any? %>
        <% r['sedes'].each do |s| %>
        <tr>
          <td><%= r['region'] %></td>
          <td><%= s['comuna'] %></td>
          <td><%= s['direccion'] %></td>
          <td><%= s['contacto'] %></td>
        </tr>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
