<h7><%= @partido.nombre %> > Transparencia > Presencia nacional</h7>
<h3>Domicilio y sedes de contacto</h3>
<% @datos_sedes.each do |r| %>
  <% if r['sedes'].any? %>
  <h4><%= r['region'] %></h4>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
      	  <th>Región</th>
          <th>Comuna</th>
          <th>Direccion</th>
          <th>Contacto</th>
        </tr>
      </thead>
      <tbody>
        <% r['sedes'].each do |s| %>
        <tr>
          <td><%= r['region'] %></td>
          <td><%= s['comuna'] %></td>
          <td><%= s['direccion'] %></td>
          <td><%= s['contacto'] %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
<% end %>
