<ol class="breadcrumb"><li><%= @partido.nombre %></li><li>Vínculos e intereses</li><li>Entidades en las que tenga participación</li></ol>
<h3>Entidades en que tenga participación</h3>
<p class="no_data_big_message"> <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  ¡Sección en Desarrollo!</p>
  <p class="no_data_small_message">¡Disculpe las molestias!
    Esta sección de Partidos Públicos aún no se encuentra activa. Estamos trabajando para su próxima publicación.</p>
<!-- # <% if @sin_datos %>
#   <%= render 'sin_datos' %>
# <% else %> -->
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Entidad</th>
        <th>Descripción</th>
        <th>Documento</th>
      </tr>
    </thead>
    <tbody>
      <% @entidades.each do |e| %>
      <tr>
        <td><%= e.entidad %></td>
        <td><%= e.descripcion %></td>
        <td>
          <% if !e.documento_file_name.nil? %>
            <%= link_to e.documento.url do %>
              <i class="fa fa-download"></i> Descargar
            <% end %>
          <% end %>
        </td>
      </tr>
      <% end %>
      <% if !@entidades.any? %>
      <tr>
        <td colspan="3">
          <p><i class="fa fa-exclamation-circle" aria-hidden="true"></i> No se han encontrado registros</p>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<!-- # <% end %> -->
