<%= simple_form_for(@transferencia) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :partido %>
    <%= f.input :fecha_datos %>
    <%= f.input :numero %>
    <%= f.input :razon_social %>
    <%= f.input :rut %>
    <%= f.association :region %>
    <%= f.input :descripcion %>
    <%= f.input :monto %>
    <%= f.input :categoria %>
    <%= f.input :fecha %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
