<p id="notice"><%= notice %></p>

<p>
  <strong>Partido:</strong>
  <%= @transferencia.partido %>
</p>

<p>
  <strong>Fecha datos:</strong>
  <%= @transferencia.fecha_datos %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @transferencia.numero %>
</p>

<p>
  <strong>Razon social:</strong>
  <%= @transferencia.razon_social %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @transferencia.rut %>
</p>

<p>
  <strong>Region:</strong>
  <%= @transferencia.region %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @transferencia.descripcion %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @transferencia.monto %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @transferencia.categoria %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @transferencia.fecha %>
</p>

<%= link_to 'Edit', edit_transferencia_path(@transferencia) %> |
<%= link_to 'Back', transferencias_path %>
