<p id="notice"><%= notice %></p>

<h3>Afiliados según rango etario</h3>
<div class="row">
  <div class="col-md-12">
    <%= form_tag comparisons_path, :method => :get do |f| %>
      <%= select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre", params[:region] || ""), include_blank: "Nacional", class: "form-control" %>
      <%= select_tag :genero, options_for_select([:hombres, :mujeres]), prompt: "Según sexo"  %>
      <%= submit_tag 'Buscar', class: "btn" %>
      <%= hidden_field_tag 'category', "Afiliados según rango etario" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <td>
            Partido
          </td>
          <td>

          </td>
          <td>
            Monto Total
          </td>
        </tr>
      </thead>
      <tbody>
        <% @datos.each_with_index do |linea, i| %>
        <tr>
          <div id='header'></div>
        </tr>
        <tr>
          <td>
            <%= linea[:partido] %>
          </td>
          <td>
            <div id="barra_<%= i.to_s %>"></div>
          </td>
          <td>
            <%= (linea[:total].nil? ? 'NA' : linea[:total]).to_s %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div id="barras"></div>

<br>
<script>
$(document).ready(function(){
  var data = <%=  @datos.to_json.html_safe %>;
  var data_totals = <%=  @datos_totals.to_json.html_safe %>;
  var fechas = <%=  @fechas_datos.to_json.html_safe %>;
  var fecha_seleccionada =  <%=  @fecha.to_json.html_safe %>;
     //Raphael("barras",800, 800 ).afiliados_compare_chart(data, data_totals);
     Raphael("header",800, 40 ).edades_compare_header(data[0]);
     for(var i=0; i < data.length; i++){
       Raphael("barra_" + i,300, 30 ).edades_compare_bar(<%= @max_total %>, data[i]);
     }

});
</script>
