<p id="notice"><%= notice %></p>
<h3>Número de afiliados por rango etário</h3>
<div class="container">
  <%= form_tag comparisons_path, :method => :get do |f| %>
    <%= select_tag :fecha_datos, options_for_select(@fechas_datos.reverse, params[:fecha_datos] || ""), prompt: "Seleccionar Fecha" %>
    <%= select_tag :region, options_from_collection_for_select(@regiones, "id", "nombre", params[:region] || ""), include_blank: "Nacional", class: "form-control" %>
    <%= select_tag :genero, options_for_select([:hombres, :mujeres], params[:genero] || ""), prompt: "Según sexo"  %>
    <%= submit_tag 'Buscar', class: "btn" %>
    <%= hidden_field_tag 'category', "Afiliados según rango etario" %>
  <% end %>
</div>
<div id='_header'></div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Partido</th>
        <% rangos_etarios.each do |r| %>
        <th><%= r[0] %> a <%= r[1] %></th>
        <% end %>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @datos.each_with_index do |linea, i| %>
      <tr>
        <td>
          <%= linea[:partido] %>
        </td>
        <% linea[:tramos].each do |t| %>
        <% color = t[:count].to_f / linea[:total].to_f %>
          <td>
            <p class="edades" style="background-color:rgba(232,93,52,<%= color * 2.5 %>);">
              <%= number_to_percentage(100 * color, precision: 0) %>
            </p>
          </td>
        <% end %>
        <!-- <td>
          <div id="_barra_<%= i.to_s %>"></div>
        </td> -->
        <td class="monto">
          <%= (linea[:total].nil? ? 'NA' : linea[:total]).to_s %>
        </td>
        <td>
          <%= link_to "Regiones constituido y número de afiliados", partido_regiones_path(:partido_id => linea[:partido_id], :menu => 1) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
$(document).ready(function(){
  var data = <%=  @datos.to_json.html_safe %>;
  var data_totals = <%=  @datos_totals.to_json.html_safe %>;
  var fechas = <%=  @fechas_datos.to_json.html_safe %>;
  var fecha_seleccionada =  <%=  @fecha.to_json.html_safe %>;
    //  Raphael("header",800, 40 ).edades_compare_header(data[0]);
    //  for(var i=0; i < data.length; i++){
    //    Raphael("barra_" + i,300, 30 ).edades_compare_bar(<%= @max_total %>, data[i]);
    //  }

});
</script>
