<ol class="breadcrumb"><li>Comparativas</li></ol>
<p id="notice"><%= notice %></p>
<h3>Afiliados según rango etario</h3>
  <%= form_tag comparisons_path, :method => :get do |f| %>
    <%= select_tag :trimestre_informado_id, options_from_collection_for_select(@trimestres_informados, "id", "to_s", params[:trimestre_informado_id] || ''), include_blank: false, class: "form-control" %>
    <%= select_tag :genero, options_for_select([:hombres, :mujeres], params[:genero] || ""), prompt: "Seleccionar género"  %>
    <%= submit_tag 'Filtrar', class: "btn" %>
    <%= hidden_field_tag 'category', "Afiliados según rango etario" %>
  <% end %>
<div id='_header'></div>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Partido</th>
        <% @afiliados.where(partido_id: @partido_ids.first).where.not(rango_etareo: 'Total Militantes').sort.each do |r| %>
          <th class="text-center">% <%= r.rango_etareo %></th>
        <% end %>
        <th class="text-center">Total</th>
        <th class="text-center">Detalle</i></th>
      </tr>
    </thead>
    <tbody>
      <% @partido_ids.each do |pid| %>
      <% total_afiliados = @afiliados.where(partido_id: pid).where('lower(rango_etareo) = ?', 'total militantes' ).first.total_afiliados rescue 0 %>
      <tr>
        <td><%= Partido.find(pid).nombre + ' ' + total_afiliados.to_s %></td>
        <% afiliados_por_partido = @afiliados.where(partido_id: pid).where.not('lower(rango_etareo) = ?', 'total militantes' ) %>
        <% if afiliados_por_partido.empty? %>
          <% 15.times do |i| %>
          <td  class="text-center">0</td>
          <% end %>
        <% end %>
        <% afiliados_por_partido.each do |a| %>
        <td><%= a.rango_etareo %></td>
          <% if @filtro_genero == "hombres" %>
          <% color = (((a.hombres).to_f/total_afiliados.to_f)*100.0) %>
          <td><p class="edades" style="background-color:rgba(232,93,52,<%= color * 0.05 %>);"><%= (((a.hombres).to_f/total_afiliados.to_f)*100.0).round(1).to_s rescue 0 %></p></td>
          <% elsif @filtro_genero == "mujeres" %>
          <% color = (((a.mujeres).to_f/total_afiliados.to_f)*100.0) %>
          <td><p class="edades" style="background-color:rgba(232,93,52,<%= color * 0.05 %>);"><%= (((a.mujeres).to_f/total_afiliados.to_f)*100.0).round(1).to_s rescue 0 %></p></td>
          <% else %>
          <% color = (((a.hombres + a.mujeres).to_f/total_afiliados.to_f)*100.0) %>
          <td><p class="edades" style="background-color:rgba(232,93,52,<%= color * 0.05 %>);"><%= (((a.hombres + a.mujeres).to_f/total_afiliados.to_f)*100.0).round(1).to_s rescue 0 %></p></td>
          <% end %>
        <% end %>
        <td class="text-center"><%= total_afiliados %></td>
        <td class="text-center">
          <button class="btn-view-detail btn btn-default btn-xs" type="submit"><%= link_to "Ver", partido_regiones_all_path(:partido_id => pid, :menu => 1) %></button>
        </td>
      </tr>
    <% end %>
  </tbody>
  </table>
</div>

<script>
$(document).ready(function(){
  var data = <%=  @datos.to_json.html_safe %>;
  var data_totals = <%=  @datos_totals.to_json.html_safe %>;
  var fechas = <%=  @fechas_datos.to_json.html_safe %>;
  var fecha_seleccionada =  <%=  @fecha.to_json.html_safe %>;

});
</script>
