<ol class="breadcrumb"><li>Comparativas</li></ol>
<p id="notice"><%= notice %></p>
<h3>Cargos</h3>
  <%= form_tag comparisons_path, :method => :get do |f| %>
    <%= select_tag :trimestre_informado_id, options_from_collection_for_select(@trimestres_informados, "id", "to_s", params[:trimestre_informado_id] || ''), include_blank: false, class: "form-control" %>
    <%= select_tag :genero, options_for_select([:hombres, :mujeres], params[:genero] || ""), prompt: "Seleccionar género"  %>
    <%= submit_tag 'Filtrar', class: "btn" %>
    <%= hidden_field_tag 'category', "Afiliados según rango etario" %>
  <% end %>
<div id='_header'></div>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Partido</th>
        <% @cargos.where(partido_id: @partido_ids.first).order(:tipo_cargo).each do |tc| %>
          <th class="text-center"><%= tc.tipo_cargo %></th>
        <% end %>
        <th class="text-center">Total</th>
        <th class="text-center">Detalle</i></th>
      </tr>
    </thead>
    <tbody>
    <% @partido_ids.each do |pid| %>
      <% total_cargos = (@cargos.where(partido_id: pid).first.cantidad_mujeres + @cargos.where(partido_id: pid).first.cantidad_hombres) rescue 0 %>
      <tr>
        <td><%= Partido.find(pid).nombre %></td>
        <% cargos_por_partido = @cargos.where(partido_id: pid).order(:tipo_cargo) %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
$(document).ready(function(){
  var data = <%=  @datos.to_json.html_safe %>;
  var data_totals = <%=  @datos_totals.to_json.html_safe %>;
  var fechas = <%=  @fechas_datos.to_json.html_safe %>;
  var fecha_seleccionada =  <%=  @fecha.to_json.html_safe %>;

});
</script>
