<ol class="breadcrumb"><li>Comparativas</li></ol>
<h3>Ingresos ordinarios</h3>
<%= form_tag comparisons_path, :method => :get do |f| %>
<%= select_tag :trimestre_informado_id, options_from_collection_for_select(@trimestres_informados, "id", "to_s", params[:trimestre_informado_id] || ''), include_blank: false, class: "form-control" %>
<%= submit_tag 'Filtrar', class: "btn" %>
<%= hidden_field_tag 'category', "Ingresos ordinarios" %>
<% end %>
<div id='header'></div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="concepto-th">Partido</th>
        <th>&nbsp;<div class="visible-xs">Porcentaje</div></th>
        <th class="monto-th">Monto Total</th>
      </tr>
    </thead>
    <tbody>
      <% max_value = 0 %>
      <% @partido_ids.each do |pid| %>
          <% max_value += @ingresos_ordinarios.where(partido_id: pid).sum(:importe) unless @ingresos_ordinarios.where(partido_id: pid).sum(:importe).nil? %>
      <% end %>

      <% @partido_ids.each do |pid| %>
      <tr>
        <td class="concepto"><%= Partido.find(pid).nombre %></td>

        <td>
          <div class="porcentaje-movil">
            <% if @ingresos_ordinarios.where(partido_id: pid).sum(:importe) != 0 %>
              <%= ((@ingresos_ordinarios.where(partido_id: pid).sum(:importe) * 100).to_f / max_value.to_f).round(2).to_s + '%' %>
            <% end %>
          </div>
          <span id="barras_<%= pid.to_s %>"></span>
        </td>

        <td class="monto"><%= number_to_currency @ingresos_ordinarios.where(partido_id: pid).sum(:importe), delimiter: ".", separator: ',', unit: "$", precision: 0 , format: "%u%n" %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
$(document).ready(function(){
  var partido_ids =  <%=  @partido_ids.to_json.html_safe %>;
  var datos = [];
  <% @partido_ids.each_with_index do |p, i| %>
    datos[<%= i %>] = <%= @ingresos_ordinarios.where(partido_id: p).order(:concepto).to_json.html_safe %>;
  <% end %>
  Raphael("header",400, 40 ).ingreso_ord_header();
  for(var i=0; i < partido_ids.length; i++){
    if(screen.width > 767) {
      Raphael("barras_" + partido_ids[i],300, 30 ).ingreso_ord_compare_bar(datos[i],<%= @partido_ids.map{|pid| @ingresos_ordinarios.where(partido_id: pid).sum(:importe) }.max %>);
    } else {
      Raphael("barras_" + partido_ids[i],80, 40 ).ingreso_ord_compare_bar(datos[i],<%= @partido_ids.map{|pid| @ingresos_ordinarios.where(partido_id: pid).sum(:importe) }.max %>);
    }
  }
});
</script>
