<p id="notice"><%= notice %></p>

<h3>Afiliados según género</h3>
<%= form_tag comparisons_path, :method => :get do |f| %>
  <%= select_tag :fecha_datos, options_for_select(@fechas_datos.reverse, params[:fecha_datos] || ""), prompt: "Seleccionar fecha" %>
  <%= select_tag :region, options_for_select(@regiones_datos, params[:region] || ""), prompt: "Seleccionar región"  %>
  <%= select_tag :genero, options_for_select([:hombres, :mujeres], params[:genero] || ""), prompt: "Seleccionar género"  %>
  <%= submit_tag 'Filtrar', class: "btn" %>
  <%= hidden_field_tag 'category', "Afiliados según género" %>
<% end %>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Partido</th>
        <th></th>
        <th class="text-center">Hombres</th>
        <th class="text-center">Mujeres</th>
        <th class="text-center">Número total afiliados</th>
        <th class="text-center"><i class="fa fa-link" aria-hidden="true"></i></th>
      </tr>
    </thead>
    <tbody>
      <% @datos.each_with_index do |linea, i| %>
      <tr>
        <div id='header'></div>
      </tr>
      <tr>
        <td><%= linea[:nombre] %></td>
        <td><span id="barras_<%= i.to_s %>"></span></td>
        <td></td>
        <td></td>
        <td class="total text-center"><%= (linea[:total].nil? ? 'NA' : linea[:total]).to_s %></td>
        <td class="text-center">
          <button class="btn btn-default btn-xs" type="submit"><%= link_to "Ver detalle", partido_regiones_path(:partido_id => linea[:partido_id], :menu => 1) %></button>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script>
$(document).ready(function(){
  var data = <%=  @datos.to_json.html_safe %>;
  var data_totals = <%=  @datos_totals.to_json.html_safe %>;
  var fechas = <%=  @fechas_datos.to_json.html_safe %>;
  var fecha_seleccionada =  <%=  @fecha.to_json.html_safe %>;
     //Raphael("barras",800, 800 ).afiliados_compare_chart(data, data_totals);
     Raphael("header",400, 40 ).afiliados_compare_header();
     for(var i=0; i < data.length; i++){
       Raphael("barras_" + i,300, 30 ).afiliados_compare_bar(<%= @max_value %>,data[i]);
     }

});
</script>
