<h3>Regiones en las que se encuentran constituidos</h3>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Partido</th>
        <% roman_ordinals.each do |roman|%>
          <th><%= roman %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @datos.each do |linea| %>
      <tr>
        <td><%= linea[:nombre] %></td>
        <% linea[:mapa].each do |region| %>
          <td><% if region %><i class="fa fa-circle <%= region ? 'icon-green' : 'icon-gray' %>" aria-hidden="true"></i><% end %></td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div id="barras"></div>

<script>
$(document).ready(function(){
  var data = <%=  @datos.to_json.html_safe %>;
  var data_totals = <%=  @datos_totales.to_json.html_safe %>;
  var fechas = <%=  @fechas_datos.to_json.html_safe %>;
  var fecha_seleccionada =  <%=  @fecha.to_json.html_safe %>;
});
</script>
