<p id="notice"><%= notice %></p>

<h3>Regiones</h3>

<div class="row">
  <table class="table">
    <thead>
      <tr>
        <td>
          Partido
        </td>
        <% roman_ordinals.each do |roman|%>
        <td>
          <%= roman %>
        </td>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @datos.each do |linea| %>
      <tr>
        <td>
          <%= linea[:nombre] %>
        </td>
        <% linea[:mapa].each do |region| %>
          <td>
            <%if region %>
            <i class="fa fa-circle <%= region ? 'icon-green' : 'icon-gray' %>" aria-hidden="true"></i>
            <% end %>
          </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>

<div id="barras"></div>

<br>
<script>
$(document).ready(function(){
  var data = <%=  @datos.to_json.html_safe %>;
  var data_totals = <%=  @datos_totales.to_json.html_safe %>;
  var fechas = <%=  @fechas_datos.to_json.html_safe %>;
  var fecha_seleccionada =  <%=  @fecha.to_json.html_safe %>;
  // if (fechas.length != 0){
     Raphael("barras",800, 800 ).regiones_compare_chart(data, data_totals);
  // } else {
    // Raphael("barras",700, 200 ).no_data_chart()
  // }
});
</script>
