<p id="notice"><%= notice %></p>

<h3>Representantes electos</h3>
<div class="row">
  <div class="col-md-12">
    <%= form_tag comparisons_path, :method => :get do |f| %>
      <%= select_tag "tipo_cargo", options_for_select(@tipo_cargos, params[:tipo_cargo] || ""), include_blank: "Cargo", class: "form-control" %>
      <%= select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre", params[:region] || ""), include_blank: "Nacional", class: "form-control" %>
      <%= submit_tag 'Buscar', class: "btn" %>
      <%= hidden_field_tag 'category', "Representantes electos" %>
    <% end %>
  </div>
</div>
<%=  @datos.to_json.html_safe %>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>
            Partido
          </th>
          <th>
            Representantes
          </th>
          <th>

          </th>
        </tr>
      </thead>
      <tbody>
        <% @datos.each_with_index do |linea, i| %>
        <tr>
          <div id='header'></div>
        </tr>
        <tr>
          <td>
            <%= linea[:partido][:sigla] %>
          </td>
          <td>
            <% linea[:representantes].each_with_index do |r, j| %>
              <tr>
                <td>
                  <%= r %>
                </td>
              </tr>
            <% end %>
          </td>
          <td>

          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div id="barras"></div>

<br>
<script>
$(document).ready(function(){
  var data = <%=  @datos.to_json.html_safe %>;
  var data_totals = <%=  @datos_totals.to_json.html_safe %>;
  var fechas = <%=  @fechas_datos.to_json.html_safe %>;
  var fecha_seleccionada =  <%=  @fecha.to_json.html_safe %>;
     //Raphael("barras",800, 800 ).afiliados_compare_chart(data, data_totals);
     Raphael("header",400, 40 ).afiliados_compare_header();
     for(var i=0; i < data.length; i++){
       Raphael("barras_" + i,300, 30 ).afiliados_compare_bar(data[i]);
     }

});
</script>
