<h3>Representantes electos</h3>

<div>
    <%= form_tag comparisons_path, :method => :get do |f| %>
      <%= select_tag "tipo_cargo", options_for_select(@tipo_cargos, params[:tipo_cargo] || ""), include_blank: "Cargo", class: "form-control" %>
      <%= select_tag "region", options_from_collection_for_select(@regiones, "id", "nombre", params[:region] || ""), include_blank: "Nacional", class: "form-control" %>
      <%= submit_tag 'Buscar', class: "btn" %>
      <%= hidden_field_tag 'category', "Representantes electos" %>
    <% end %>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Partido</th>
        <th>Representantes</th>
      </tr>
    </thead>
    <tbody>
      <% @datos.each_with_index do |linea, i| %>
      <tr>
        <td><%= linea[:partido][:sigla] %></td>
        <td>
          <ul>
          <% linea[:representantes].each_with_index do |r, j| %>
            <li><%= r[0] + ': ' + r[1].to_s %></li>
          <% end %>
          </ul>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
