<ol class="breadcrumb"><li>Comparativas</li></ol>
<h3>Transferencias</h3>
<%= form_tag comparisons_path, :method => :get do |f| %>
  <%= select_tag :partido_ids, options_from_collection_for_select(Partido.all, :id, "to_s", params[:partido_ids] || ""), :multiple => true, :size => 10, prompt: "Seleccionar Partidos", class: "form-control chosen-select", "data-placeholder": "Todos los Partidos"  %>
  
<%= select_tag :trimestre_informado_id, options_from_collection_for_select(@trimestres_informados, "id", "to_s", params[:trimestre_informado_id] || ''), include_blank: false, class: "form-control" %>
<%= submit_tag 'Filtrar', class: "btn" %>
<%= hidden_field_tag 'category', "Transferencias" %>
<% end %>
<div id='header'></div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="concepto-th">Partido</th>
        <th>&nbsp;<div class="visible-xs">Porcentaje</div></th>
        <th class="monto-th">Monto Total</th>
      </tr>
    </thead>
    <tbody>
      <% max_value = 0 %>
      <% @partido_ids.each do |pid| %>
        <% if @transferencias.where(partido_id: pid).sum(:monto) < 0 %>
          <% max_value += (@transferencias.where(partido_id: pid).sum(:monto) * -1) unless @transferencias.where(partido_id: pid).sum(:monto).nil? %>
        <% else %>
          <% max_value += @transferencias.where(partido_id: pid).sum(:monto) unless @transferencias.where(partido_id: pid).sum(:monto).nil? %>
        <% end %>
      <% end %>

      <% @partido_ids.each do |pid| %>
        <tr>
          <td class="concepto"><%= Partido.find(pid).nombre %></td>
          <% if @transferencias.where(partido_id: pid).sum(:monto) < 0 %>
              <td>
                <div class="porcentaje-movil">
                <% if @transferencias.where(partido_id: pid).sum(:monto) != 0 %>
                  <%= (((@transferencias.where(partido_id: pid).sum(:monto) * -1) * 100).to_f / max_value.to_f).round(2).to_s + '%' %>
                <% end %>
                </div>
                <div id="barras_<%= pid.to_s %>"></div>
              </td>
              <td class="monto"><%= number_to_currency (@transferencias.where(partido_id: pid).sum(:monto) * -1), delimiter: ".", separator: ',', unit: "$", precision: 0 , format: "%u%n" %></td>
            <% else %>
              <td>
                <div class="porcentaje-movil">
                <% if @transferencias.where(partido_id: pid).sum(:monto) != 0 %>
                  <%= ((@transferencias.where(partido_id: pid).sum(:monto) * 100).to_f / max_value.to_f).round(2).to_s + '%' %>
                <% end %>
                </div>
                <div id="barras_<%= pid.to_s %>"></div>
              </td>
              <td class="monto"><%= number_to_currency @transferencias.where(partido_id: pid).sum(:monto), delimiter: ".", separator: ',', unit: "$", precision: 0 , format: "%u%n" %></td>
            <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
$(document).ready(function(){
  var partido_ids =  <%=  @partido_ids.to_json.html_safe %>;
  var datos = [];
  <% @partido_ids.each_with_index do |p, i| %>
    datos[<%= i %>] = <%= @transferencias.where(partido_id: p).to_json.html_safe %>;
  <% end %>
  for(var i=0; i < partido_ids.length; i++){
    if(screen.width > 767) {
      Raphael("barras_" + partido_ids[i],300, 30 ).transferencias_compare_bar(datos[i],<%= @partido_ids.map{|pid| @transferencias.where(partido_id: pid).sum(:monto) }.max %>);
    } else {
      Raphael("barras_" + partido_ids[i],80, 40 ).transferencias_compare_bar(datos[i],<%= @partido_ids.map{|pid| @transferencias.where(partido_id: pid).sum(:monto) }.max %>);
    }
  }
});
</script>
