<%= simple_form_for(@tramite) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.input :descripcion %>
    <%= f.association :persona %>
    <%= f.input :documento %>
    
    <%= f.fields_for :requisitos do |builder| %>
       <%= render 'requisito_fields', :f => builder %>
    <% end %>
      <%= link_to_add_association 'add requirement', f, :requisitos %>
      
    <%= f.fields_for :procedimientos do |builder| %>
       <%= render 'procedimiento_fields', :f => builder %>
    <% end %>
      <%= link_to_add_association 'add procedure', f, :procedimientos %>
      
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
