<!-- Welcome -->
<section>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h1>Porque la ciudadanía exige más
          <mark>#AbramosLaCancha</mark></h1>
        </div>
        <div class="col-md-12">
          <a class="btn btn-lg anchor-button" href="#partidos" role="button">Partidos comprometidos</a>
          <a class="btn btn-lg anchor-button" href="#funciones" role="button">¿Cómo funciona?</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="que-es">
  <div class="container">
    <div class="row">
      <h2 class="text-center">¿Qué es?</h2>
      <div class="col-md-8 col-md-offset-2">
        <p>Partidos Públicos es una plataforma inédita de transparencia de partidos políticos, que te permite visualizar y comparar fácilmente información financiera, de afiliados y presencia nacional, entre otros. Esta plataforma empuja al cumplimiento de la nueva Ley de Partidos Políticos y de estándares internacionales de apertura de datos.</p>
        <%= link_to "¿Cuál es la transparencia que queremos?", asset_path("la-transparencia-que-queremos.pdf"), class: 'btn btn-primary basic', onclick: "ga('send', 'event', 'welcome-cual-es-la-transparencia', 'click');" %>
      </div>
    </div>
  </div>
</section>

<section id="fechas">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">Fechas clave</h2>
        <p>La información de transparencia será subida de forma progresiva a <b>partidospublicos.cl</b>, según lo que estipula la nueva Ley de Partidos Políticos.</p>
      </div>
      <div class="col-md-12">
        <ul class="timeline">
        	<!-- Item 1 -->
        	<li>
        		<div class="direction-r">
        			<div class="flag-wrapper">
        				<span class="flag">Octubre 2016</span>
        			</div>
        			<div class="desc">
                <ul class="list-unstyled">
                  <li>Información financiera básica</li>
                  <li>Número de afiliados</li>
                  <li>Organigrama</li>
                  <li>Declaraciones de intereses y patrimonio de sus candidatos</li>
                  <li>Entidades en las que participa el partido</li>
                </ul>
        		</div>
        	</li>

        	<!-- Item 2 -->
        	<li>
            <div class="direction-r">
        			<div class="flag-wrapper">
        				<span class="flag">Enero 2017</span>
        			</div>
        			<div class="desc">
                <ul class="list-unstyled">
                  <li>Información financiera detallada (aportes públicos y privados, ingresos, gastos, entre otros)</li>
                  <li>Sanciones a las que han sido sometidos</li>
                  <li>Acuerdos internos</li>
                </ul>
        		</div>
        	</li>
        	<!-- Item 3 -->
        	<li>
            <div class="direction-r">
        			<div class="flag-wrapper">
        				<span class="flag">Abril 2017</span>
        			</div>
        			<div class="desc">
                <ul class="list-unstyled">
                  <li>Declaraciones de intereses y patrimonio de la directiva del partido</li>
                </ul>
        		</div>
        	</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="funciones">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="text-center">¿Cómo funciona?</h2>
        <p class="text-center"><span>Si no se entiende no funciona. Proponemos este estándar para vivir la transparencia</span></p>
      </div>
      <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>

        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
              <div class="col-md-4 col-md-offset-2 vistas">
                <h3>Visualizaciones</h3>
                <p>A través de herramientas de visualización podrás acceder de manera sencilla y comprensible a los puntos más importantes de la información que se transparenta.</p>
              </div>
              <div class="col-md-4 vistas">
                <%= image_tag("vista-01.svg") %>
              </div>
          </div>
          <div class="item">
              <div class="col-md-4 col-md-offset-2 vistas">
                <h3>Búsqueda con filtros</h3>
                <p>Permite buscar autoridades y representantes de cada partido, siendo posible filtrarlos por género, región, nombre y/o apellido. Además puedes encontrar sus declaraciones de intereses y patrimonio.</p>
              </div>
              <div class="col-md-4 vistas">
                <%= image_tag("vista-02.svg") %>
              </div>
          </div>
          <div class="item">
              <div class="col-md-4 col-md-offset-2 vistas">
                <h3>Registro histórico</h3>
                <p>Partidospublicos.cl te muestra cómo ha evolucionado el partido en cuanto a afiliados, financiamiento y sanciones.</p>
              </div>
              <div class="col-md-4 vistas">
                <%= image_tag("vista-03.svg") %>
              </div>
          </div>
          <div class="item">
              <div class="col-md-4 col-md-offset-2 vistas">
                <h3>Comparativas</h3>
                <p>A través de gráficos puedes comparar la información de los partidos fácilmente en un solo lugar.</p>
              </div>
              <div class="col-md-4 vistas">
                <%= image_tag("vista-04.svg") %>
              </div>
          </div>

          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
          <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
          <span class="sr-only">Anterior</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
          <i class="fa fa-arrow-right fa-lg" aria-hidden="true"></i>
          <span class="sr-only">Siguiente</span>
        </a>
      </div>
      <div class="col-md-4 col-md-offset-4">
        <%= link_to "Folleto de estándares", asset_path("como-funciona.pdf"), class: 'btn btn-primary basic center-block', onclick: "ga('send', 'event', 'welcome-folleto', 'click');" %>
      </div>
      </div>
    </div>
</section>

<!-- Title -->
<section id="partidos">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="text-center"><%= t('.enrolled_parties') %></h2>
            <p class="text-center"><span>Selecciona uno de los partidos activos para ver la información que han transparentado</span></p>
        </div>
    </div>
    <div class="row text-center">
        <% @partidos.each do |partido| %>
        <div class="col-md-4 col-sm-6 hero-feature">
            <div class="thumbnail">
                <% if !partido.front_logo.blank? %>
                <div class="logo">
                    <%= image_tag partido.front_logo.url(:medium), :class => "img-responsive", :alt => partido.nombre + ' - ' + partido.lema, onclick: "ga('send', 'event', 'welcome-access-logo-'"+ partido.nombre+", 'click');" %>
                </div>
                <% end %>
                <div class="caption">
                    <p class="versalitas"><%= partido.nombre %></p>
                </div>
                <div class="buttons">
                    <%= link_to "Activo", partido_normas_internas_path(partido), :class => 'btn btn-xs parties', :onclick => "ga('send', 'event', 'welcome-access-button-'"+ partido.nombre+", 'click');" %>
                </div>
            </div>
        </div>
        <% end %>
        <div class="col-md-4 col-sm-6 hero-feature">
          <div class="thumbnail">
              <div class="logo">
                <%= image_tag("04-pc.png") %>
              </div>
              <div class="caption">
                  <p class="versalitas">Partido Comunista de Chile</p>
                  <p><span class="label label-default">No activo</span></p>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 hero-feature">
          <div class="thumbnail">
              <div class="logo">
                <%= image_tag("05-pdc.png") %>
              </div>
              <div class="caption">
                  <p class="versalitas">Partido Demócrata Cristiano</p>
                  <p><span class="label label-default">No activo</span></p>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 hero-feature">
          <div class="thumbnail">
              <div class="logo">
                <%= image_tag("06-evopoli.png") %>
              </div>
              <div class="caption">
                  <p class="versalitas">Evolución Política</p>
                  <p><span class="label label-default">No activo</span></p>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 hero-feature">
          <div class="thumbnail">
              <div class="logo">
                <%= image_tag("08-ppd.png") %>
              </div>
              <div class="caption">
                  <p class="versalitas">Partido por la Democracia</p>
                  <p><span class="label label-default">No activo</span></p>
              </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 hero-feature">
          <div class="thumbnail">
              <div class="logo">
                <%= image_tag("09-ps.png") %>
              </div>
              <div class="caption">
                  <p class="versalitas">Partido Socialista de Chile</p>
                  <p><span class="label label-default">No activo</span></p>
              </div>
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <p class="text-center"><span>También puedes comparar la información de los partidos activos</span></p>
            <%= link_to "Comparar partidos",comparisons_path, class: 'btn compare', onclick: "ga('send','event','welcome-compare-button','click')" %>
        </div>
    </div>
  </div>
</section>

<section id="cancha" class="hidden-xs hidden-sm">
  <%= image_tag("cancha.svg")%>
</section>
<!-- /.row -->
