<section id="new-welcome" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Partidos Políticos<h1>
        <h2>accesibles a la ciudadanía</h2>
        <p>Partidos Públicos es una plataforma que busca facilitar el acceso y la fiscalización ciudadana a la información que publican los partidos políticos chilenos en transparencia activa, a través de visualizaciones, filtros y comparativas amigables. ¡Queremos que la transparencia sea útil y entendible!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="#funciones"><i class="fa fa-angle-down fa-3x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</section>
<section id="funciones">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <h3 class="text-center">Datos relevantes</h3>
              <div class="item active">
                <div class="col-md-10 col-md-offset-1">
                  <div class="carousel-box">
                    <h3>Ingresos por partido, últimos 3 trimestres</h3>
                    <p><span>Estas barras muestran los ingresos totales -públicos y privados- percibidos por cada partido en cada uno de los últimos tres trimestres, según lo informado por el partido al Consejo para la Transparencia.</span></p>
                    <div class="row">
                      <div class="col-md-12">
                        <p class="small">
                          <i class="fa fa-circle" aria-hidden="true" style="color: #089B7E;"></i>  <%= TrimestreInformado.current_trimestre.prev.prev.trimestre %> <%= TrimestreInformado.current_trimestre.prev.prev.ano %><br>
                          <i class="fa fa-circle" aria-hidden="true" style="color: #1ED0AC;"></i>  <%= TrimestreInformado.current_trimestre.prev.trimestre %> <%= TrimestreInformado.current_trimestre.prev.ano %><br>
                          <i class="fa fa-circle" aria-hidden="true" style="color: #90EFDA;"></i> <%= TrimestreInformado.current_trimestre.trimestre %> <%= TrimestreInformado.current_trimestre.ano %>
                        </p>
                        <hr>
                      </div>
                    </div>
                    <%  max = 0 %>
                    <% TrimestreInformado.ingresos_3_ultimos.each_with_index do |p, j| %>
                    <div class="row">
                      <%  if max <  p["suma"] %>
                      <% max =  p["suma"] %>
                      <% end %>
                      <div class="col-md-6">
                        <h4><%= Partido.find(p["partido_id"]).nombre %> </h4>
                      </div>
                      <div class="col-md-4">
                        <div class="progress">
                          <% total = p["suma"] %>
                          <% p["ingresos"].each_with_index do |g, i| %>
                            <% g["suma_ingresos"] %>
                            <% percent = (g["suma_ingresos"].to_f / total.to_f).to_f * 100  %>
                            <% factor =  (g["suma_ingresos"].to_f / max.to_f).to_f * 100  %>
                            <a data-toggle="tooltip" title="<%= number_to_percentage((percent).to_f, precision: 0) %> ">
                            <div class="progress-bar bar-green-<%= i + 1  %>" style="width: <%= factor  %>%">
                              <span class="sr-only"><%=  percent  %> % Complete (success)</span>
                            </div>
                          </a>
                          <% end %>
                        </div><!-- progress -->
                      </div><!-- col-md-6 -->
                      <div class="col-md-2">
                        <!-- <h4><%= p["suma"]%>/<%=  max %>=<%=  (max.to_f / p["suma"].to_f).to_f %></h4> -->
                        <p class="progress-total"><%= number_to_currency(total, delimiter: ".", separator: ',', precision: 0, unit: "$", format: "%u%n") %></p>
                      </div><!-- col-md-2 -->
                    </div><!-- row -->
                    <% end %>
                  </div> <!-- carousel-box -->
                  <div class="col-md-4 col-md-offset-4">
                    <%= link_to "Ver comparativas", comparisons_path, class: 'btn btn-comparative-lg center-block', onclick: "ga('send', 'event', 'welcome-compare', 'click');" %>
                  </div><!-- col-md-4 -->
                </div> <!-- col-md-10 -->
              </div> <!-- item active -->
              <div class="item">
                <div class="col-md-10 col-md-offset-1">
                  <div class="carousel-box">
                    <h3>Gasto por partido, últimos 3 trimestres</h3>
                    <p><span>Estas barras muestran el gasto total efectuado por cada partido en los últimos tres trimestres, según lo que cada partido ha informado al Consejo para la Transparencia.</span></p>
                    <div class="row">
                      <div class="col-md-12">
                        <p class="small">
                          <i class="fa fa-circle" aria-hidden="true" style="color: #04ADB2;"></i>  <%= TrimestreInformado.current_trimestre.prev.prev.trimestre %> <%= TrimestreInformado.current_trimestre.prev.prev.ano %><br>
                          <i class="fa fa-circle" aria-hidden="true" style="color: #35DBD2;"></i>  <%= TrimestreInformado.current_trimestre.prev.trimestre %> <%= TrimestreInformado.current_trimestre.prev.ano %><br>
                          <i class="fa fa-circle" aria-hidden="true" style="color: #7BF8F1;"></i> <%= TrimestreInformado.current_trimestre.trimestre %> <%= TrimestreInformado.current_trimestre.ano %>
                        </p>
                        <hr>
                      </div>
                    </div>
                    <%  max = 0 %>
                    <% TrimestreInformado.gastos_3_ultimos.each_with_index do |p, j| %>
                    <div class="row">
                      <%  if max <  p["suma"] %>
                      <% max =  p["suma"] %>
                      <% end %>
                      <div class="col-md-6">
                        <!-- <h4><%= p["suma"]%>/<%=  max %>=<%=  (max.to_f / p["suma"].to_f).to_f %></h4> -->
                        <h4><%= Partido.find(p["partido_id"]).nombre  %> </h4>
                      </div>
                      <div class="col-md-4">
                        <div class="progress">
                          <% total = p["suma"] %>
                          <% p["gastos"].each_with_index do |g, i| %>
                            <% g["suma_gastos"] %>
                            <% percent = (g["suma_gastos"].to_f / total.to_f).to_f * 100  %>
                            <% factor =  (g["suma_gastos"].to_f / max.to_f).to_f * 100 %>
                            <!-- <%= percent  %> -->
                            <a data-toggle="tooltip" title="<%= number_to_percentage((percent).to_f, precision: 0) %> ">
                            <div class="progress-bar bar-sky-<%= i + 1  %>" style="width: <%= factor  %>%">
                              <span class="sr-only"><%= percent  %> % Complete (success)</span>
                            </div>
                            </a>
                          <% end %>
                        </div><!-- progress -->
                      </div><!-- col-md-6 -->
                      <div class="col-md-2">
                        <!-- <h4><%= p["suma"]%>/<%=  max %>=<%=  (max.to_f / p["suma"].to_f).to_f %></h4> -->
                        <p class="progress-total"><%= number_to_currency(total, delimiter: ".", separator: ',', precision: 0, unit: "$", format: "%u%n") %></p>
                      </div><!-- col-md-2 -->
                    </div><!-- row -->
                    <% end %>
                  </div><!-- carousel -->
                  <div class="col-md-4 col-md-offset-4">
                    <%= link_to "Ver comparativas", comparisons_path, class: 'btn btn-comparative-lg center-block', onclick: "ga('send', 'event', 'welcome-compare', 'click');" %>
                  </div><!-- col-md-4 -->
                </div><!-- col-md-10 -->
              </div><!-- item2 -->
              <div class="item">
                <div class="col-md-10 col-md-offset-1">
                  <div class="carousel-box">
                    <h3>Total de afiliados por partido según género</h3>
                    <p><span>En este gráfico se muestra el total de afiliados (militantes) del partido desagregado por género, según lo informado por cada partido al Consejo para la Transparencia.</span></p>
                    <div class="row">
                      <div class="col-md-12">
                        <p class="small"><i class="fa fa-circle" aria-hidden="true" style="color: #E85D34;"></i> Mujeres<br>
                        <i class="fa fa-circle" aria-hidden="true" style="color: #F28269;"></i> Hombres
                        <hr>
                      </div>
                    </div>
                    <%  max = 0 %>
                    <% TrimestreInformado.proporcion_sexos.each_with_index do |p, j| %>
                    <div class="row">
                      <%  if max <  p.total%>
                      <% max =  p.total%>
                      <% end %>
                      <% factor = p.total.to_f / max.to_f %>
                      <div class="col-md-6">
                        <h4><%= p.partido.nombre %></h4>
                      </div>
                      <div class="col-md-4">
                        <a data-toggle="tooltip" title="Total : <%= p.total %> ( <%= number_to_percentage((p.hombres.to_f / p.total.to_f).to_f * 100, precision: 0) %> hombres, <%= number_to_percentage((p.mujeres.to_f / p.total.to_f).to_f * 100, precision: 0) %> mujeres ) ">
                        <div class="progress">
                          <div class="progress-bar bar-orange-1" style="width: <%= factor *  (p.mujeres.to_f / p.total.to_f).to_f * 100 %>%">
                            <span class="sr-only"><%= factor *  (p.mujeres.to_f / p.total.to_f).to_f * 100 %>% Complete (success)</span>
                          </div>
                          <div class="progress-bar bar-orange-2" style="width: <%= factor *  (p.hombres.to_f / p.total.to_f).to_f * 100 %>%">
                            <span class="sr-only"><%= factor *  (p.hombres.to_f / p.total.to_f).to_f * 100 %>% Complete (warning)</span>
                          </div>
                        </div><!--progress -->
                        </a>
                      </div><!-- col-md-6 -->
                      <div class="col-md-2">
                        <p class="progress-total"><%= p.total %></p>
                      </div><!-- col-md-2 -->
                    </div><!-- row -->
                    <% end %>
                  </div><!-- carousel -->
                  <div class="col-md-4 col-md-offset-4">
                    <%= link_to "Ver comparativas", comparisons_path, class: 'btn btn-comparative-lg center-block', onclick: "ga('send', 'event', 'welcome-compare', 'click');" %>
                  </div><!-- col-md-4 -->
                </div> <!-- col-md-10 -->
              </div><!-- item 3 -->

            </div> <!-- carousel inner -->
          </div><!-- section - container - row - col-md-12 - carousel -->
        </div><!-- section - container - row - col-md-12 -->

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <i class="fa fa-angle-left fa-4x" aria-hidden="true"></i>
            <span class="sr-only">Anterior</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <i class="fa fa-angle-right fa-4x" aria-hidden="true"></i>
            <span class="sr-only">Siguiente</span>
          </a>
      </div> <!-- section - container -row -->
  </div><!-- section - container -->
</section>
<section id="informado-ultimo-trimestre">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3 class="text-center">Estado de actualización de los datos</h3>
        <h4 class="text-center">Trimestre : <%= TrimestreInformado.current_trimestre.trimestre %> <%= TrimestreInformado.current_trimestre.ano %>*</h4>
        <br>
        <p><span>Esta sección muestra el porcentaje de actualización de los datos correspondientes al último trimestre finalizado. Este cálculo se efectúa sobre las secciones de información relevante que Partidos Públicos elabora a partir de las planillas que los partidos entregan trimestralmente al Estado. Haz clic en el nombre de un partido para explorar su información en detalle.</span></p>
        <p class="small">* Según la Ley, los partidos tienen hasta el décimo día hábil de cada trimestre para actualizar los datos correspondientes al trimestre anterior (p.e: en enero deben actualizar los datos del trimestre oct-dic).</p>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <% TrimestreInformado.current_trimestre.porcentaje_completado.each_with_index do |p, i| %>
        <div class="row">
          <div class="col-md-4">
            <h4><%= Partido.find(p['partido_id']).nombre %></h4>
          </div>
          <div class="col-md-6 col-sm-8 col-xs-8 text-center">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= number_to_percentage(p['nota'] * 100, precision: 0) %>;">
                <span class="sr-only">60% Complete</span>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-4 text-center">
            <p class="porcentaje-total"><%= number_to_percentage(p['nota'] * 100, precision: 1) %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section id="cancha" class="hidden-xs hidden-sm">
  <%= image_tag("cancha.svg")%>
</section>
<!-- /.row -->
