<p id="notice"><%= notice %></p>

<h1>Listing Contratacions</h1>

<table>
  <thead>
    <tr>
      <th>Partido</th>
      <th>Fecha datos</th>
      <th>Numero</th>
      <th>Individualizacion</th>
      <th>Razon social</th>
      <th>Rut</th>
      <th>Titulares</th>
      <th>Descripcion</th>
      <th>Monto</th>
      <th>Fecha inicio</th>
      <th>Fecha termino</th>
      <th>Link</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contratacions.each do |contratacion| %>
      <tr>
        <td><%= contratacion.partido %></td>
        <td><%= contratacion.fecha_datos %></td>
        <td><%= contratacion.numero %></td>
        <td><%= contratacion.individualizacion %></td>
        <td><%= contratacion.razon_social %></td>
        <td><%= contratacion.rut %></td>
        <td><%= contratacion.titulares %></td>
        <td><%= contratacion.descripcion %></td>
        <td><%= contratacion.monto %></td>
        <td><%= contratacion.fecha_inicio %></td>
        <td><%= contratacion.fecha_termino %></td>
        <td><%= contratacion.link %></td>
        <td><%= link_to 'Show', contratacion %></td>
        <td><%= link_to 'Edit', edit_contratacion_path(contratacion) %></td>
        <td><%= link_to 'Destroy', contratacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contratacion', new_contratacion_path %>
