<p id="notice"><%= notice %></p>

<p>
  <strong>Partido:</strong>
  <%= @contratacion.partido %>
</p>

<p>
  <strong>Fecha datos:</strong>
  <%= @contratacion.fecha_datos %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @contratacion.numero %>
</p>

<p>
  <strong>Individualizacion:</strong>
  <%= @contratacion.individualizacion %>
</p>

<p>
  <strong>Razon social:</strong>
  <%= @contratacion.razon_social %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @contratacion.rut %>
</p>

<p>
  <strong>Titulares:</strong>
  <%= @contratacion.titulares %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @contratacion.descripcion %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @contratacion.monto %>
</p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @contratacion.fecha_inicio %>
</p>

<p>
  <strong>Fecha termino:</strong>
  <%= @contratacion.fecha_termino %>
</p>

<p>
  <strong>Link:</strong>
  <%= @contratacion.link %>
</p>

<%= link_to 'Edit', edit_contratacion_path(@contratacion) %> |
<%= link_to 'Back', contratacions_path %>
