<div id="row" >

    <%= datagrid_form_for @grid, :method => :get, :url => personas_path %>
    <%= paginate(@grid.assets) %>
    <%= datagrid_table @grid %>
    <div class='total'>Total: <%= @grid.assets.total_count %></div>
    <%= paginate(@grid.assets) %>

</div>