<div class="form-group boxed_form">
<%= f.input :partido %>
<%= f.input :nombre %>
<%= f.input :apellidos %>
<%= f.input :fecha_nacimiento %>
<%= f.input :nivel_estudios %>
<%= f.input :region %>
<%= f.input :ano_inicio_militancia %>
<%= f.input :afiliado %>
<%= f.input :bio %>
<%= f.input :foto, as: :file %>
<% if f %>
    
<% end %>
</div>