<p id="notice"><%= notice %></p>

<h1>Listing Afiliacions</h1>

<table>
  <thead>
    <tr>
      <th>Region</th>
      <th>Hombres</th>
      <th>Mujeres</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @afiliacions.each do |afiliacion| %>
      <tr>
        <td><%= afiliacion.region %></td>
        <td><%= afiliacion.hombres %></td>
        <td><%= afiliacion.mujeres %></td>
        <td><%= link_to 'Show', afiliacion %></td>
        <td><%= link_to 'Edit', edit_afiliacion_path(afiliacion) %></td>
        <td><%= link_to 'Destroy', afiliacion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Afiliacion', new_afiliacion_path %>
