<p id="notice"><%= notice %></p>

<p>
  <strong>Region:</strong>
  <%= @afiliacion.region %>
</p>

<p>
  <strong>Hombres:</strong>
  <%= @afiliacion.hombres %>
</p>

<p>
  <strong>Mujeres:</strong>
  <%= @afiliacion.mujeres %>
</p>

<p>
  <strong>Rangos:</strong>
  <%= @afiliacion.rangos %>
</p>

<%= link_to 'Edit', edit_afiliacion_path(@afiliacion) %> |
<%= link_to 'Back', afiliacions_path %>
