<!DOCTYPE html>
<html ng-app="papuApp">

<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= t('.title') %></title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>

      <%= csrf_meta_tags %>

</head>

<body>

    <!-- Navigation -->
    <nav id="cabecera" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href=<%= root_path %>><%= t('.title') %></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#"><%= t('.about') %></a>
                    </li>
                    <li>
                        <a href="#"><%= t('.contact') %></a>
                    </li>
                    <li>
                        <a href="#"><%= t('.parties') %></a>
                    </li>
                    <li>
                        <a href="#"><%= t('.methodology') %></a>
                    </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse signed_user" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">


                    <li>
                            <div class="btn-group">
                              <button type="button" class="btn btn-default">User here</button>
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                              </button>
                            <ul class="dropdown-menu">
                                <li><a href=<%= new_partido_path%> ><%= t('.create_party') %></a></li>
                                <li><a href=""><%= t('.admin_party') %>  </a></li>
                                <li role="separator" class="divider"></li>
                                <li> logout here </li>
                                <!--<li><a href="#"><%= t('.admin_logout') %></a></li>-->
                            </ul>
                            </div>


                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="flash">
        <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    </div>
    <!-- Page Content -->
    <div id="container" >

        <%= yield %>

    </div>

        <!-- Footer -->
    <footer>
        <div id="pie_pagina">
            <p></p>
        </div>
    </footer>

</body>

</html>
