<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= t('.title') %></title>

  <link rel="shortcut icon" href="/favicon.ico">

  <!-- OpenGraph -->
  <meta property="og:title" content="<%= t('.og_title') %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:description" content="<%= t('.og_description') %>" />

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="<%= t('.twitter_title') %>">
  <meta name="twitter:description" content="<%= t('.twitter_description') %>">
  <meta name="twitter:creator" content="">
  <meta name="twitter:image" content="">

  <!-- Latest compiled and minified CSS -->
  <%= stylesheet_link_tag    'frontend', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'comparison', 'data-turbolinks-track' => true %>
</head>
<body>
  <header>
      <nav class="navbar navbar-default">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src=""></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Que es?</a></li>
              <li><a href="#">Estandares de transparencia</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Partidos adheridos <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% @partidos.each do |p| %>
                  <li>
                    <%= link_to p['nombre'], partido_normas_internas_path(p['id']) %>
                  </li>
                  <% end %>
                </ul>
              </li>
              <li>
                <%= link_to "Comparar partidos",comparisons_path %>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
  </header>

<!------------------------------------->
<script>
  function select_all(status) {
    all_checkbox = document.getElementsByTagName('input');
    status = (status === "false" ? true : false)
    document.getElementById('all').dataset.checked = status;
    for(x=0;x<all_checkbox.length;x++) {
      if (all_checkbox[x].type === "checkbox" ) {
        all_checkbox[x].checked = status
      }
    }
  }
</script>
<section class=" comparacion">
  <div class="container">
    <div class="row">
      <h2 class="text-center">Compara Partidos</h2>

      <%= form_tag comparisons_path, :method =>  :get do |f| %>
        <ul class="list-inline">
          <% @partidos.each do |partido| %>
          <li>
            <div class="col-md-4">
            <%= check_box_tag 'partido_ids[]', partido.id %>
            <%= h partido.sigla %>
            </div>
          </li>
          <% end %>
          <li><input type="checkbox" name="all" id="all" data-checked="false" onclick="select_all(document.getElementById('all').dataset.checked)"> <label for="all">todos</label></li>
        </ul>
        <br>
        <%= select_tag :category, options_for_select(categories), prompt: "Seleccionar un tema" %>
        <br>
        <%= submit_tag 'Comparar' %>
      <% end %>
    </div>
  </div>
</section>

<div class="container">
  <div class="row">
    <main class="col-md-12 board">
      <%= yield %>
    </main>
  </div>
</div>

    <footer class="col-md-12">
      <div class="container">
        footer
      </div>
    </footer>
</body>
</html>
