<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= t('.title') %></title>

  <link rel="shortcut icon" href="/favicon.ico">

  <!-- OpenGraph -->
  <meta property="og:title" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:description" content="" />

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:creator" content="">
  <meta name="twitter:image" content="">

  <!-- Latest compiled and minified CSS -->
  <%= stylesheet_link_tag    'frontend', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'frontend', 'data-turbolinks-track' => true %>
</head>
<body>
  <header>
    <div class="container">
      <nav class="navbar">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#">Que es?</a></li>
              <li><a href="#">Estandares de transparencia</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Partidos adheridos <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
              <li><a href="#">Comparar partidos</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </header>

  <div class="container">
    <aside class="col-sm-3 col-md-3">
      <h5>Transparencia</h5>
      <ul>
        <li>
          <%= link_to "Normas Internas y Pensamiento", partido_normas_internas_path %>
        </li>
        <li>
          Presencia Nacional
          <ul>
            <li>
              <%= link_to "Regiones constituido y numero de afiliados", partido_regiones_path %>
            </li>
            <li>
              <%= link_to "Domicilio y sedes de contacto", partido_sedes_path %>
            </li>
          </ul>
        </li>
        <li>
          Como participar
          <ul>
            <li>subitem 01</li>
            <li>subitem 02</li>
          </ul>
        </li>
        <li>
          <%= link_to "Vinculos e Intereses", partido_vinculos_e_intereses_path %>
          <ul>
            <li><%= link_to "Entidades", partido_vinculos_e_intereses_path %></li>
            <li><%= link_to "Pactos", partido_pactos_path %></li>
            <li><%= link_to "Sanciones", partido_sanciones_path %></li>
          </ul>
        </li>
        <li>
          item 03
          <ul>
            <li>subitem 01</li>
            <li>subitem 02</li>
          </ul>
        </li>
      </ul>

      <h5>Acciones</h5>
      <ul>
        <li>item 01</li>
        <li>item 02</li>
        <li>item 03</li>
      </ul>
    </aside>
    <main class="col-sm-9 col-md-9">
      <%= yield %>
    </main>

    <footer class="col-md-12">
      <div class="container">
        footer
      </div>
    </footer>

  </div>

</body>
</html>
