<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= t('.title') %><% if @partido %><%= ' - '+ @partido.nombre + ' (' + @partido.sigla + ')' %><% end %></title>

  <link rel="shortcut icon" href="/favicon.ico">

  <!-- OpenGraph -->
  <meta property="og:title" content="<%= t('.og_title') %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= image_url('og-img.png') %>" />
  <meta property="og:description" content="<%= t('.og_description') %>" />
  <meta property="og:locale" content="es_CL" />

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="<%= request.original_url %>">
  <meta name="twitter:title" content="<%= t('.twitter_title') %>">
  <meta name="twitter:description" content="<%= t('.twitter_description') %>">
  <meta name="twitter:creator" content="">
  <meta name="twitter:image" content="<%= image_url('og-img.png') %>">

  <!-- Latest compiled and minified CSS -->
  <%= stylesheet_link_tag    'frontend', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'frontend', 'data-turbolinks-track' => true %>
</head>
<body>
  <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <div class="brand">
              <%= link_to image_tag("logo.svg"), root_path, onclick: "ga('send', 'event', 'main-logo', 'click');" %>
              <div class="sub-brand hidden"><a href="//ciudadanointeligente.org" target="_blank" onclick="ga('send', 'event', 'main-fci-brand', 'click');">de CiudadanoInteligente.org</a></div>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" onclick="ga('send', 'event', 'main-menu-mobile', 'click');">
              <span class="sr-only">Menú</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Partidos<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% @partidos.each do |p| %>
                  <li>
                    <%= link_to p['nombre'], partido_normas_internas_path(p['id']), onclick: "ga('send', 'event', 'main-menu-partido-"+p['nombre']+"', 'click');" %>
                  </li>
                  <% end %>
                </ul>
              </li>
              <li>
                <%= link_to "Comparar partidos",comparisons_path, onclick: "ga('send', 'event', 'main-menu-comparar', 'click');" %>
              </li>
              <li>
                <%= link_to "¿Cómo funciona?", root_path + "proyecto", onclick: "ga('send', 'event', 'proyecto', 'click');"%>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Màs<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to "Reporte", '/reporte', onclick: "ga('send', 'event', 'main-menu-reporte', 'click');"%>
                  </li>
                  <li>
                    <%= link_to "Descargar Manual", manual_path, onclick: "ga('send', 'event', 'main-menu-descargar-manual', 'click');"%>
                  </li>
                  <li>
                    <%= link_to "Acceso a los datos", 'https://datos.partidospublicos.cl', onclick: "ga('send', 'event', 'main-menu-datos', 'click');"%>
                  </li>
                </ul>
              </li>
              <li class="redes">
              <a href="#" onclick="window.open(&quot;//twitter.com/share?url=http://partidospublicos.cl/;text=Partidos transparentes, participativos y abiertos para una sana democracia .&quot;,&quot;twitter&quot;,&quot;width=450, height=250&quot;)">
              <span class="fa-stack fa-lg">
              <i class="fa fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
              </a>
              </li>
              <li class="redes">
              <a href="#" onclick="window.open(&quot;//www.facebook.com/sharer/sharer.php?u=http://partidospublicos.cl/&quot;,&quot;facebook&quot;,&quot;width=450, height=250&quot;)">
              <span class="fa-stack fa-lg">
              <i class="fa fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
              </a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
  </header>

<!------------------------------------->
<section class="aviso">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">Todavía estamos cargando la información entregada por los partidos. Si quieres, puedes descargar las planillas enviadas <%= link_to "aquí", "http://datos.partidospublicos.cl", class: "btn btn-primary btn-xs", onclick: "ga('send','event','info-sin-editar','click')" %></p>
      </div>
    </div>
  </div>
</section>

  <section class="nombre-partido">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2><%= @partido.nombre %></h2>
        </div>
      </div>
    </div>
  </section>

<div class="container">
  <div class="dropdown visible-xs visible-sm">
    <button onclick="ga('send', 'event', 'menu-mobile-partidos', 'click');" class="btn btn-default btn-select dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Menú
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-select" aria-labelledby="dropdownMenu1">
      <li class="principal">
        <p>Normas internas y pensamiento</p>
        <ul>
          <li class="<% if current_page?(:controller => 'partidos', :action => 'normas_internas') %>current<% end %>">
            <%= link_to "Datos básicos del partido", partido_normas_internas_path(:menu => 0), onclick: "ga('send', 'event', 'mobile-partido-datos-basicos', 'click');" %>
          </li>
          <li class="<% if current_page?(:controller => 'partidos', :action => 'estructura_organica') %>current<% end %>">
            <%= link_to "Estructura orgánica", partido_organos_internos_path(:menu => 0), onclick: "ga('send', 'event', 'mobile-partido-estructura-organica', 'click');" %>
          </li>
        </ul>
      </li>
      <li role="separator" class="divider"></li>
      <li class="principal">
        <p>Presencia nacional</p>
        <ul>
          <li class="<% if current_page?(:controller => 'partidos', :action => 'regiones_all') %>current<% end %>">
            <%= link_to "Regiones constituido y número de afiliados", partido_regiones_all_path(:menu => 1), onclick: "ga('send', 'event', 'mobile-partido-regiones', 'click');" %>
          </li>
          <li class="<% if current_page?(:controller => 'partidos', :action => 'sedes_partido') %>current<% end %>">
            <%= link_to "Domicilio y sedes de contacto", partido_sedes_partido_path(:menu => 1), onclick: "ga('send', 'event', 'mobile-partido-domicilio-sedes', 'click');" %>
          </li>
          <!-- <li class="<% if current_page?(:controller => 'partidos', :action => 'representantes') %>current<% end %>">
            <%= link_to "Representantes electos", partido_representantes_path(:menu => 1), onclick: "ga('send', 'event', 'mobile-partido-representantes-electos', 'click');" %>
          </li>
          <li class="<% if current_page?(:controller => 'partidos', :action => 'autoridades') %>current<% end %>">
            <%= link_to "Autoridades designadas", partido_autoridades_path(:menu => 1), onclick: "ga('send', 'event', 'mobile-partido-autoridades-designadas', 'click');" %>
          </li> -->
        </ul>
      </li>
      <li role="separator" class="divider"></li>
      <li class="principal">
        <p>Cómo participar</p>
        <ul>
          <li class="<% if current_page?(:controller => 'partidos', :action => 'afiliacion_desafiliacion') %>current<% end %>">
            <%= link_to "Afiliación y desafiliación", partido_afiliacion_desafiliacion_path(:menu => 2), onclick: "ga('send', 'event', 'mobile-partido-afiliacion-desafiliacion', 'click');" %>
          </li>
          <!-- <li class="<% if current_page?(:controller => 'partidos', :action => 'eleccion_popular') %>current<% end %>">
            <%= link_to "Postular a cargos de elección popular", partido_eleccion_popular_path(:menu => 2), onclick: "ga('send', 'event', 'mobile-partido-cargo-eleccion-pop', 'click');" %>
          </li>
          <li class="<% if current_page?(:controller => 'partidos', :action => 'elecciones_internas') %>current<% end %>">
            <%= link_to "Postular a cargos de dirección interna", partido_elecciones_internas_path(:menu => 2), onclick: "ga('send', 'event', 'mobile-partido-cargo-dir-interna', 'click');" %>
          </li> -->
          <!-- <li class="hidden">
            <p>Actividades públicas</p>
          </li> -->
        </ul>
      </li>
      <li role="separator" class="divider"></li>
      <li class="principal">
        <p>Vínculos e Intereses</p>
        <ul>
          <li class="<% if current_page?(:controller => 'partidos', :action => 'vinculos_intereses') %>current<% end %>">
            <%= link_to "Entidades en que tenga participación", partido_vinculos_e_intereses_path(:menu => 3), onclick: "ga('send', 'event', 'mobile-partido-entidad-participacion', 'click');" %>
          </li>
          <li class="<% if current_page?(:controller => 'partidos', :action => 'pactos') %>current<% end %>">
            <%= link_to "Pactos electorales que integra", partido_pactos_path(:menu => 3), onclick: "ga('send', 'event', 'mobile-partido-pactos-electorales', 'click');" %>
          </li>
          <li class="<% if current_page?(:controller => 'partidos', :action => 'intereses_patrimonios') %>current<% end %>">
            <%= link_to "Declaración de intereses y patrimonio", partido_intereses_patrimonios_path(:menu => 3), onclick: "ga('send', 'event', 'mobile-partido-patrimonio-intereses', 'click');" %>
          </li>
        </ul>
      </li>
      <li role="separator" class="divider"></li>
      <li class="principal">
        <p>Finanzas</p>
        <ul>
          <li class="<% if current_page?(:controller => 'partidos', :action => 'finanzas_1') %>current<% end %>">
            <%= link_to "Ingresos ordinarios", partido_finanzas_1_path(:menu => 4), onclick: "ga('send', 'event', 'mobile-partido-ingresos-ordinarios', 'click');" %>
          </li>
          <li class="<% if current_page?(:controller => 'partidos', :action => 'finanzas_2') %>current<% end %>">
            <%= link_to "Egresos ordinarios", partido_finanzas_2_path(:menu => 4), onclick: "ga('send', 'event', 'mobile-partido-egresos-ordinarios', 'click');" %>
          </li>
          <li class="<% if current_page?(:controller => 'partidos', :action => 'finanzas_5') %>current<% end %>">
            <%= link_to "Transferencias de fondos públicos", partido_finanzas_5_path(:menu => 4), onclick: "ga('send', 'event', 'mobile-partido-fondos-publicos', 'click');" %>
          </li>
          <li class="<% if current_page?(:controller => 'partidos', :action => 'contrataciones_20utm') %>current<% end %>">
            <%= link_to "Contrataciones sobre 20 UTM", partido_contrataciones_20utm_path(:menu => 4), onclick: "ga('send', 'event', 'mobile-partido-contrataciones-20utm', 'click');" %>
          </li>
          <li class="<% if current_page?(:controller => 'partidos', :action => 'ingresos_campana') %>current<% end %>">
            <%= link_to "Aportes a Campañas", partido_ingresos_campana_path(:menu => 4), onclick: "ga('send', 'event', 'mobile-partido-ingresos-campañas', 'click');" %>
          </li>
          <li class="<% if current_page?(:controller => 'partidos', :action => 'egresos_campana') %>current<% end %>">
            <%= link_to "Egresos de Campañas", partido_egresos_campana_path(:menu => 4), onclick: "ga('send', 'event', 'mobile-partido-egresos-campañas', 'click');" %>
          </li>
        </ul>
      </li>
      <li role="separator" class="divider"></li>
      <li class="principal">
        <p>Últimas decisiones</p>
        <ul>
          <li class="<% if current_page?(:controller => 'partidos', :action => 'publicacion_candidatos') %>current<% end %>">
            <%= link_to "Publicación de los candidatos", partido_publicacion_candidatos_path(:menu => 5), onclick: "ga('send', 'event', 'mobile-partido-publicacion-candidatos', 'click');" %>
          </li>
          <li class="<% if current_page?(:controller => 'partidos', :action => 'acuerdos_organos') %>current<% end %>">
            <%= link_to "Acuerdos órganos intermedios colegiados", partido_acuerdos_organos_path(:menu => 5), onclick: "ga('send', 'event', 'mobile-partido-organos-intermedios', 'click');" %>
          </li>
        </ul>
      </li>
      <li role="separator" class="divider"></li>
      <li class="principal">
        <p>Sanciones</p>
        <ul>
          <li class="<% if current_page?(:controller => 'partidos', :action => 'sanciones') %>current<% end %>">
            <%= link_to "Sanciones aplicadas al partido", partido_sanciones_path(:menu => 6), onclick: "ga('send', 'event', 'mobile-partido-sanciones', 'click');" %>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>

  <div class="container">
    <div class="row">
      <aside class="col-md-3 hidden-xs hidden-sm" aria-hidden="true">
        <ul id="accordion" class="list-unstyled aside-menu" role="tablist">
          <li class="principal">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#aside-menu-one" aria-expanded="true" aria-controls="aside-menu-one">Normas internas y pensamiento</a>
            <ul id="aside-menu-one" class="collapse <%= @menu == 0 ? 'in' : '' %>" role="tab" aria-labelledby="aside-menu-one">
              <li class="<% if current_page?(:controller => 'partidos', :action => 'normas_internas') %>current<% end %>">
                <%= link_to "Datos básicos del partido", partido_normas_internas_path(:menu => 0), onclick: "ga('send', 'event', 'desktop-partido-datos-basicos', 'click');" %>
              </li>
              <li class="<% if current_page?(:controller => 'partidos', :action => 'estructura_organica') %>current<% end %>">
                <%= link_to "Estructura orgánica", partido_organos_internos_path(:menu => 0), onclick: "ga('send', 'event', 'desktop-partido-estructura-organica', 'click');" %>
              </li>
            </ul>
          </li>
          <li class="principal">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#aside-menu-two" aria-expanded="false" aria-controls="aside-menu-two">Presencia nacional</a>
            <ul id="aside-menu-two" class="collapse <%= @menu == 1 ? 'in' : '' %>" role="tab" aria-labelledby="aside-menu-two">
              <li class="<% if current_page?(:controller => 'partidos', :action => 'regiones_all') %>current<% end %>">
                <%= link_to "Regiones constituido y número de afiliados", partido_regiones_all_path(:menu => 1), onclick: "ga('send', 'event', 'desktop-partido-regiones', 'click');" %>
              </li>
              <li class="<% if current_page?(:controller => 'partidos', :action => 'sedes_partido') %>current<% end %>">
                <%= link_to "Domicilio y sedes de contacto", partido_sedes_partido_path(:menu => 1), onclick: "ga('send', 'event', 'desktop-partido-domicilio-sedes', 'click');" %>
              </li>
              <!-- <li class="<% if current_page?(:controller => 'partidos', :action => 'representantes') %>current<% end %>">
                <%= link_to "Representantes electos", partido_representantes_path(:menu => 1), onclick: "ga('send', 'event', 'desktop-partido-representantes-electos', 'click');" %>
              </li>
              <li class="<% if current_page?(:controller => 'partidos', :action => 'autoridades') %>current<% end %>">
                <%= link_to "Autoridades designadas", partido_autoridades_path(:menu => 1), onclick: "ga('send', 'event', 'desktop-partido-autoridades-designadas', 'click');" %>
              </li> -->
            </ul>
          </li>
          <li class="principal">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#aside-menu-three" aria-expanded="false" aria-controls="aside-menu-three">Cómo participar</a>
            <ul id="aside-menu-three" class="collapse <%= @menu == 2 ? 'in' : '' %>" role="tab" aria-labelledby="aside-menu-three">
              <li class="<% if current_page?(:controller => 'partidos', :action => 'afiliacion_desafiliacion') %>current<% end %>">
                <%= link_to "Afiliación y desafiliación", partido_afiliacion_desafiliacion_path(:menu => 2), onclick: "ga('send', 'event', 'desktop-partido-afiliacion-desafiliacion', 'click');" %>
              </li>
              <!-- <li class="<% if current_page?(:controller => 'partidos', :action => 'eleccion_popular') %>current<% end %>">
                <%= link_to "Postular a cargos de elección popular", partido_eleccion_popular_path(:menu => 2), onclick: "ga('send', 'event', 'desktop-partido-cargo-eleccion-pop', 'click');" %>
              </li>
              <li class="<% if current_page?(:controller => 'partidos', :action => 'elecciones_internas') %>current<% end %>">
                <%= link_to "Postular a cargos de dirección interna", partido_elecciones_internas_path(:menu => 2), onclick: "ga('send', 'event', 'desktop-partido-cargo-dir-interna', 'click');" %>
              </li> -->
            </ul>
          </li>
          <li class="principal">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#aside-menu-four" aria-expanded="false" aria-controls="aside-menu-four">Vínculos e Intereses</a>
            <ul id="aside-menu-four" class="collapse <%= @menu == 3 ? 'in' : '' %>" role="tab" aria-labelledby="aside-menu-four">
              <li class="<% if current_page?(:controller => 'partidos', :action => 'vinculos_intereses') %>current<% end %>">
                <%= link_to "Entidades en que tenga participación", partido_vinculos_e_intereses_path(:menu => 3), onclick: "ga('send', 'event', 'desktop-partido-entidad-participacion', 'click');" %>
              </li>
              <li class="<% if current_page?(:controller => 'partidos', :action => 'pactos') %>current<% end %>">
                <%= link_to "Pactos electorales que integra", partido_pactos_path(:menu => 3), onclick: "ga('send', 'event', 'desktop-partido-pactos-electorales', 'click');" %>
              </li>
              <li class="<% if current_page?(:controller => 'partidos', :action => 'intereses_patrimonios') %>current<% end %>">
                <%= link_to "Declaración de intereses y patrimonio", partido_intereses_patrimonios_path(:menu => 3), onclick: "ga('send', 'event', 'desktop-partido-patrimonio-intereses', 'click');" %>
              </li>
            </ul>
          </li>
          <li class="principal">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#aside-menu-five" aria-expanded="false" aria-controls="aside-menu-five">Finanzas</a>
            <ul id="aside-menu-five" class="collapse <%= @menu == 4 ? 'in' : '' %>" role="tab" aria-labelledby="aside-menu-five">
              <li class="<% if current_page?(:controller => 'partidos', :action => 'finanzas_1') %>current<% end %>">
                <%= link_to "Ingresos ordinarios", partido_finanzas_1_path(:menu => 4), onclick: "ga('send', 'event', 'desktop-partido-ingresos-ordinarios', 'click');" %>
              </li>
              <li class="<% if current_page?(:controller => 'partidos', :action => 'finanzas_2') %>current<% end %>">
                <%= link_to "Egresos ordinarios", partido_finanzas_2_path(:menu => 4), onclick: "ga('send', 'event', 'desktop-partido-egresos-ordinarios', 'click');" %>
              </li>
              <li class="<% if current_page?(:controller => 'partidos', :action => 'finanzas_5') %>current<% end %>">
                <%= link_to "Transferencias de fondos públicos", partido_finanzas_5_path(:menu => 4), onclick: "ga('send', 'event', 'desktop-partido-fondos-publicos', 'click');" %>
              </li>
              <li class="<% if current_page?(:controller => 'partidos', :action => 'contrataciones_20utm') %>current<% end %>">
                <%= link_to "Contrataciones sobre 20 UTM", partido_contrataciones_20utm_path(:menu => 4), onclick: "ga('send', 'event', 'mobile-partido-contrataciones-20utm', 'click');" %>
              </li>
              <li class="<% if current_page?(:controller => 'partidos', :action => 'ingresos_campana') %>current<% end %>">
                <%= link_to "Aportes a Campañas", partido_ingresos_campana_path(:menu => 4), onclick: "ga('send', 'event', 'mobile-partido-ingresos-campañas', 'click');" %>
              </li>
              <li class="<% if current_page?(:controller => 'partidos', :action => 'egresos_campana') %>current<% end %>">
                <%= link_to "Egresos de Campañas", partido_egresos_campana_path(:menu => 4), onclick: "ga('send', 'event', 'mobile-partido-egresos-campañas', 'click');" %>
              </li>
            </ul>
          </li>
          <li class="principal">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#aside-menu-six" aria-expanded="false" aria-controls="aside-menu-six">Últimas decisiones</a>
            <ul id="aside-menu-six" class="collapse <%= @menu == 5 ? 'in' : '' %>" role="tab" aria-labelledby="aside-menu-six">
              <li class="<% if current_page?(:controller => 'partidos', :action => 'publicacion_candidatos') %>current<% end %>">
                <%= link_to "Publicación de los candidatos", partido_publicacion_candidatos_path(:menu => 5), onclick: "ga('send', 'event', 'desktop-partido-publicacion-candidatos', 'click');" %>
              </li>
              <li class="<% if current_page?(:controller => 'partidos', :action => 'acuerdos_organos') %>current<% end %>">
                <%= link_to "Acuerdos órganos intermedios colegiados", partido_acuerdos_organos_path(:menu => 5), onclick: "ga('send', 'event', 'desktop-partido-organos-intermedios', 'click');" %>
              </li>
            </ul>
          </li>
          <li class="principal">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#aside-menu-seven" aria-expanded="false" aria-controls="aside-menu-seven">Sanciones</a>
            <ul id="aside-menu-seven" class="collapse <%= @menu == 6 ? 'in' : '' %>" role="tab" aria-labelledby="aside-menu-seven">
              <li class="<% if current_page?(:controller => 'partidos', :action => 'sanciones') %>current<% end %>">
                <%= link_to "Sanciones aplicadas al partido", partido_sanciones_path(:menu => 6), onclick: "ga('send', 'event', 'desktop-partido-sanciones', 'click');" %>
              </li>
            </ul>
          </li>
        </ul>
      </aside>
      <main class="col-xs-12 col-sm-12 col-md-9 board">
        <%= yield %>
        <!-- <p class="mark-date"> Estos datos corresponden a lo publicado por este
          Partido Político en el Portal de Transparencia del Estado al día <%= @fecha_datos %> </p> -->
      </main>
    </div>

  </div>

  <footer class="site-footer">
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 logo-footer">
            <ul class="list-unstyled">
              <li>Un proyecto de</li>
              <li><a href="//ciudadanointeligente.org" target="_blank"><img src="<%= image_url("logo-fci.png")%>" title="Fundación Ciudadano Inteligente"></a></li>
            </ul>
          </div>
          <div class="col-md-3 logo-footer">
            <ul class="list-unstyled">
              <li>Con el apoyo de</li>
              <li><img src="<%= image_url("logo-undef.png")%>" title="UNDEF"></li>
            </ul>
          </div>
          <div class="col-md-3 logo-footer">
            <ul class="list-unstyled">
              <li>Con la colaboración de</li>
              <li><img src="<%= image_url("logo-cht.png")%>" title="Chile Transparente"></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled">
              <li><a href="mailto:info@ciudadanointeligente.org?Subject=Prensa%20de%20Partido%20Publico" class="email-prensa" target="_top" onclick="ga('send', 'event', 'footer-email', 'click');"><i class="fa fa-envelope-o"></i> Mándanos un correo</a></li>
              <li><a href="//github.com/ciudadanointeligente/partidopublico" target="_blank" onclick="ga('send', 'event', 'footer-github', 'click');"><i class="fa fa-github-alt"></i> Revisa nuestro código</a></li>
              <li><a href="//twitter.com/ciudadanoi" target="_blank" onclick="ga('send', 'event', 'footer-twitter', 'click');"><i class="fa fa-twitter" aria-hidden="true"></i> @Ciudadanoi</a></li>
              <li><a href="//www.facebook.com/ciudadanointeligente" target="_blank" onclick="ga('send', 'event', 'footer-facebook', 'click');"><i class="fa  fa-facebook" aria-hidden="true"></i> Ciudadano Inteligente</li></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41822715-13', 'auto');
    ga('send', 'pageview');

  </script>


</body>
</html>
