<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= t('.title') %></title>

  <link rel="shortcut icon" href="/favicon.ico">

  <!-- OpenGraph -->
  <meta property="og:title" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="" />
  <meta property="og:image" content="" />
  <meta property="og:description" content="" />

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:creator" content="">
  <meta name="twitter:image" content="">

  <!-- Latest compiled and minified CSS -->
  <%= stylesheet_link_tag    'frontend', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'frontend', 'data-turbolinks-track' => true %>
</head>
<body>
  <header>
    <div class="container">
      <nav class="navbar">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Brand</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="#">Que es?</a></li>
              <li><a href="#">Estandares de transparencia</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Partidos adheridos <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
              <li><a href="#">Comparar partidos</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
  </header>

<!------------------------------------->
  <div class="container">
    <aside class="col-sm-3 col-md-3">
      <h5>Transparencia</h5>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <!----- 1 - Normas internas y pensamiento------>
          <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <li role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <%= link_to "Normas Internas y Pensamiento", partido_normas_internas_path %>
                  </li>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  El partido
                </div>
                <div class="panel-body">
                  Estructura orgánica
                </div>
              </div>
            </div>
            <!----- 2 - Presencia Nacional------>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <li class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Presencia Nacional
                   </li>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    <%= link_to "Regiones constituido y numero de afiliados", partido_regiones_path %>
                  </div>
                  <div class="panel-body">
                    <%= link_to "Domicilio y sedes de contacto", partido_sedes_partido_path %>
                  </div>
                  <div class="panel-body">
                    Representantes electos
                  </div>
                  <div class="panel-body">
                    Autoridades designadas
                  </div>
                </div>
              </div>
              <!----- 3 - Cómo participar ------>
              <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <li class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <%= link_to "Cómo participar", partido_afiliacion_desafiliacion_path %>
                     </li>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      <li><%= link_to "Afiliación y Desafiliación", partido_afiliacion_desafiliacion_path %></li>
                    </div>
                    <div class="panel-body">
                      <li><%= link_to "Elección popular", partido_eleccion_popular_path %></li>
                    </div>
                    <div class="panel-body">
                      Postular a cargos de dirección interna
                    </div>
                    <div class="panel-body">
                      Actividades públicas
                    </div>
                  </div>
                </div>
              <!----- 4 - Vínculos e intereses ------>
              <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFour">
                    <h4 class="panel-title">
                      <li class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        <%= link_to "Vínculos e Intereses", partido_vinculos_e_intereses_path %>
                     </li>
                    </h4>
                  </div>
                  <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                    <div class="panel-body">
                      <li><%= link_to "Entidades", partido_vinculos_e_intereses_path %></li>
                    </div>
                    <div class="panel-body">
                      <li><%= link_to "Pactos", partido_pactos_path %></li>
                    </div>
                    <div class="panel-body">
                      Declaración de intereses y patrimonio
                    </div>
                  </div>
                </div>
              <!----- 5 - Finanzas ------>
              <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingFive">
                    <h4 class="panel-title">
                      <li class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        <%= link_to "Finanzas", partido_finanzas_1_path %>
                     </li>
                    </h4>
                  </div>
                  <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                    <div class="panel-body">
                      <li><%= link_to "Ingresos Ordinarios", partido_finanzas_1_path %></li>
                    </div>
                    <div class="panel-body">
                      <li><%= link_to "Egresos Ordinarios", partido_finanzas_2_path %></li>
                    </div>
                    <div class="panel-body">
                      <li><%= link_to "Balance Anual", partido_finanzas_2_path %></li>
                    </div>
                    <div class="panel-body">
                      <li><%= link_to "Contrataciones sobre 20 UTM", partido_finanzas_2_path %></li>
                    </div>
                    <div class="panel-body">
                      <li><%= link_to "Transferencias de Fondos Públicos", partido_finanzas_2_path %></li>
                    </div>
                    <div class="panel-body">
                      <li><%= link_to "Ingresos por Campaña", partido_finanzas_2_path %></li>
                    </div>
                    <div class="panel-body">
                      <li><%= link_to "Egresos por Campaña", partido_finanzas_2_path %></li>
                    </div>
                    <div class="panel-body">
                      Informes campaña electoral
                    </div>
                  </div>
                </div>
              <!----- 6 - Últimas decisiones------>
              <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingSix">
                    <h4 class="panel-title">
                      <li class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                        Últimas decisiones
                     </li>
                    </h4>
                  </div>
                  <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                    <div class="panel-body">
                      Publicación de los candidatos
                    </div>
                    <div class="panel-body">
                      Resultados elecciones internas
                    </div>
                    <div class="panel-body">
                      Acuerdos órganos intermedios colegiados
                    </div>
                  </div>
                </div>
              <!----- 7 - Denuncias y sanciones------>
              <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingSeven">
                    <h4 class="panel-title">
                      <li class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                        Sanciones
                     </li>
                    </h4>
                  </div>
                  <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                    <div class="panel-body">
                      Sanciones
                    </div>
                  </div>
                </div>
          </div><!-----PANEL GROUP------>


      <h5>Acciones</h5>
      <ul>
        <li>item 01</li>
        <li>item 02</li>
        <li>item 03</li>
      </ul>
    </aside>
    <main class="col-sm-9 col-md-9 board">
      <%= yield %>
    </main>

    <footer class="col-md-12">
      <div class="container">
        footer
      </div>
    </footer>

  </div>

</body>
</html>
