<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= t('.title') %></title>

  <link rel="shortcut icon" href="/favicon.ico">

  <!-- OpenGraph -->
  <meta property="og:title" content="<%= t('.og_title') %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:image" content="<%= image_url('og-img.png') %>" />
  <meta property="og:description" content="<%= t('.og_description') %>" />
  <meta property="og:locale" content="es_CL" />

  <!-- Twitter card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="<%= request.original_url %>">
  <meta name="twitter:title" content="<%= t('.twitter_title') %>">
  <meta name="twitter:description" content="<%= t('.twitter_description') %>">
  <meta name="twitter:creator" content="">
  <meta name="twitter:image" content="<%= image_url('og-img.png') %>">

  <!-- Latest compiled and minified CSS -->
  <%= stylesheet_link_tag    'frontend', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'frontend', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <div class="brand">
              <%= link_to image_tag("logo.svg"),root_path, onclick: "ga('send', 'event', 'main-logo', 'click');" %>
              <div class="sub-brand hidden"><a href="//ciudadanointeligente.org" target="_blank" onclick="ga('send', 'event', 'main-fci-brand', 'click');">de CiudadanoInteligente.org</a></div>
            </div>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" onclick="ga('send', 'event', 'main-menu-mobile', 'click');">
              <span class="sr-only">Menú</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to "¿Cómo funciona?", root_path + "proyecto", onclick: "ga('send', 'event', 'proyecto', 'click');"%>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Partidos<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <% @partidos.each do |p| %>
                  <li>
                    <%= link_to p['nombre'], partido_normas_internas_path(p['id']), onclick: "ga('send', 'event', 'main-menu-partido-"+p['nombre']+"', 'click');" %>
                  </li>
                  <% end %>
                </ul>
              </li>
              <li>
                <%= link_to "Comparar partidos",comparisons_path, onclick: "ga('send', 'event', 'main-menu-comparar', 'click');" %>
              </li>

              <li>
                <%= link_to "Descargar Manual", manual_path, onclick: "ga('send', 'event', 'main-menu-descargar-manual', 'click');"%>
              </li>
              <li class="redes">
              <a href="#" onclick="window.open(&quot;//twitter.com/share?url=http://partidospublicos.cl/;text=Partidos transparentes, participativos y abiertos para una sana democracia .&quot;,&quot;twitter&quot;,&quot;width=450, height=250&quot;)">
              <span class="fa-stack fa-lg">
              <i class="fa fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
              </a>
              </li>
              <li class="redes">
              <a href="#" onclick="window.open(&quot;//www.facebook.com/sharer/sharer.php?u=http://partidospublicos.cl/&quot;,&quot;facebook&quot;,&quot;width=450, height=250&quot;)">
              <span class="fa-stack fa-lg">
              <i class="fa fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span>
              </a>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
  </header>

<%= yield %>

  <footer class="site-footer">
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3 logo-footer">
            <ul class="list-unstyled">
              <li>Un proyecto de</li>
              <li><a href="//ciudadanointeligente.org" target="_blank" onclick="ga('send', 'event', 'footer-logo'fci', 'click');"><img src="<%= image_url("logo-fci.png")%>" title="Fundación Ciudadano Inteligente"></a></li>
            </ul>
          </div>
          <div class="col-md-3 logo-footer">
            <ul class="list-unstyled">
              <li>Con el apoyo de</li>
              <li><img src="<%= image_url("logo-undef.png")%>" title="UNDEF"></li>
            </ul>
          </div>
          <div class="col-md-3 logo-footer">
            <ul class="list-unstyled">
              <li>Con la colaboración de</li>
              <li><img src="<%= image_url("logo-cht.png")%>" title="Chile Transparente"></li>
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="list-unstyled">
              <li><a href="mailto:info@ciudadanointeligente.org?Subject=Prensa%20de%20Partido%20Publico" class="email-prensa" target="_top" onclick="ga('send', 'event', 'footer-email', 'click');"><i class="fa fa-envelope-o"></i> Mándanos un correo</a></li>
              <li><a href="//github.com/ciudadanointeligente/partidopublico" target="_blank" onclick="ga('send', 'event', 'footer-github', 'click');"><i class="fa fa-github-alt"></i> Revisa nuestro código</a></li>
              <li><a href="//twitter.com/ciudadanoi" target="_blank" onclick="ga('send', 'event', 'footer-twitter', 'click');"><i class="fa fa-twitter" aria-hidden="true"></i> @Ciudadanoi</a></li>
              <li><a href="//www.facebook.com/ciudadanointeligente" target="_blank" onclick="ga('send', 'event', 'footer-facebook', 'click');"><i class="fa  fa-facebook" aria-hidden="true"></i> Ciudadano Inteligente</li></a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-41822715-13', 'auto');
    ga('send', 'pageview');

  </script>

</body>
</html>
